[2020-05-16 00:56] devbhosale opened #283 "robots.txt bug, Move location = /robots.txt to wpcommon7.x.conf and add fastcgi_pass inside location block"
Requests for "robots.txt" currently cause the index.php file to be downloaded.

I propose following updated php version specific block to be put into wpcommon-php7.x.conf files

location = /robots.txt {
# Refer #340 issue
    try_files $uri $uri/ /index.php$is_args$args @robots;
    default_type text/plain;
    access_log off;
    log_not_found off;
    fastcgi_pass php73;    // will change based

[2020-05-17 19:43] janiosarmento opened #284 "UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe1 in position 1463: invalid continuation byte"
I've found a very rare bug on WO, related to Let's Encrypt.

The symptom: any operation related to LE raises:

`UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe1 in position 1463: invalid continuation byte`

This is a fatal error, and it is impossible to do any LE operations anymore.

Digging into the issue I discovered that this condition only happens on systems with locale define to Portu

[2020-05-18 12:53] VirtuBox commented on #284
Hello @janiosarmento,
thanks for your report, I will fix this by forcing utf-8 when writing CSV file.

[2020-05-19 11:51] VirtuBox commented on #283
Hello @devbhosale,
it's look like you are using an old version of the locations-wo.conf, because currently the robots.txt block look like this :

[code]

I have removed the $is_args because it was the cause of the index.php download.
But I do not see why you would like to add `fastcgi_pass php73` ?

[2020-05-19 14:57] devbhosale commented on #283
you are right.. it was older version... please close the ticket.. thanks
for the response

On Tue, May 19, 2020 at 7:51 AM VirtuBox <notifications@github.com> wrote:

[2020-05-21 05:02] janiosarmento commented on #273
For some reason I can't understand, it seems `acme.sh` is not generating the `cert.pem` file, which WO expects in a certain place, in order to deploy the certificate (and to check cert validity too).

A server of mine with 41 domains had 13 facing such an issue, and when I try to issue and install the certificates manually there are `domain.com.cer`, `domain.com.key`, `ca.cer` and `fullchain.cer`

[2020-05-21 05:08] janiosarmento commented on #273
As an improvised patch I'm using the script below, based on @CobblerSalad's valuable information. It is not meant for usage but on emergencies, of course, but it may save some lifes while the issue does not get covered by WO itself.

[code]

The script is meant to be run by root user; I never tried it with sudo, but it should work, I guess.

[2020-05-26 00:09] janiosarmento opened #286 "Suggestion: command line options for database name, credentials and WP table prefix"
I'd like to suggest a feature that would allow automation of backups (restorations actually) and make migrations much easier: CLI options to define database name, database username, database password and WordPress table prefix.

something like:

[code]

Thanks!

[2020-05-26 06:53] tersor commented on #286
I prefer to use the database root user for backup gymnastics. This way you do not have to worry about per site db credentials.

Another option is to use wp cli.

[2020-05-26 11:03] janiosarmento commented on #286
@tersor, I appreciate that you share your point of view, but I'm afraid our needs are not equal, and I really need to be able to recreate the domain with exactly the same database credentials when restoring it.

[2020-05-27 10:56] edneycarpinteiro opened #287 "Wordops Dashboard doesn't work"
Hello everyone,

I am new and inexperienced in programming and servers, but I am venturing into this area.

I recently installed Wordops on two DigitalOcean droplets, each other for a different website. In one of them, the WordOps Dashboard is working perfectly, but in the other, it is not (image attached).

![image](https://user-images.githubusercontent.com/66011103/83010940-72c90c00-9fef-11ea-84

[2020-05-27 13:55] rslonik opened #288 "--proxy sites not including /conf/nginx/* so site SSL do not work"
Hi,

When creating a new proxy site (`wo site create site.com --proxy=127.0.0.1=3000`) the host config doesn't include `include {{webroot}}/conf/nginx/*.conf;` from template.

So when you install HTTPS on that site (`wo site update site.com --le`) the `/conf/nginx/ssl.conf` is not used and the SSL won't work.

I tried changing last two lines of `/usr/lib/wo/templates/virtualconf.mustache` from:
[c

[2020-05-27 14:15] Overflow992 opened #289 "Robots.txt not editable via Hook Filter "robots_txt""
hi, I have a multi-domain site so I wanted to have a robots.txt file for each sub-domain, but I noticed that using the Wordpress filter "robots_txt" did not work, this is due to the fact that Wordops retrieves the contents of the robots.txt file from the file "/etc/nginx/common/wpcommon-php73.conf"

So I tried to understand why it didn't call my function for edit Robots.txt:

[code]

and I saw tha

[2020-05-27 14:18] Overflow992 commented on #283
I have found a Bug related to this, please get a look below https://github.com/WordOps/WordOps/issues/289

[2020-05-27 18:30] janiosarmento commented on #288
May I suggest a workaround?

Create a copy of the default `virtualconf.mustache` into `/root/.wo/templates` (you'll have to create it).

Then, edit this file and just before the line `{{/proxy}}` (line 39, I guess) add the directive you want the proxy vhosts to have:

`include {{webroot}}/conf/nginx/*.conf;`

Now, when you create your new vhosts WO will use your custom template instead of the defa

[2020-05-27 21:08] matthieuscerri opened #290 "Unable to adjust fail2ban for Nextcloud behind wordops proxy"
I created a proxy site on my wordops installation to access my nextcloud server publicly.
I ran into an issue caused by the nextcloud client sync apps that make many requests to the server.
I am therefore looking for a way to ajust or disable fail2ban on this site.

System Information

- [ ] `lsb_release -a`
- [ ] `wo info`
- [ ] `nginx -V`
- [ ] `wo -v`
- [ ] `wp cli info --allow-root`
- [ ] `cur

[2020-05-28 12:34] Snadex opened #291 "Unable to activate --ngxblocker"
Hello everyone,
I just provisioned new Ubuntu 18.04 with the latest WordOps.

When creating the site, I added the flag --ngxblocker, which I believe did not enabled it,
and later on when I tried to update it, here is the result:

wo site update THEDOMAIN.TLD --ngxblocker

[code]

Any ideas what can cause this, and how can be resolved?

Thank you :)

System Information

- [x] `lsb_release -a`
No LS

[2020-05-29 15:22] edneycarpinteiro opened #292 "How to disable open_basedir?"
Hi everyone,

Please, I need to disable the open_basedir in pnp, but I don't get find it in my server with Wordops installation.

When I try to migrate my WordPress site through Duplicator plugin, a notice about the issue appears on the screen, and the archive fails.

I will be very grateful if somebody help me!

Best regards,
Edney

[2020-05-31 04:21] stevefloyd commented on #224
Thanks for suggesting this @kymc, I agree it would be a great to have the CLI tools of WordOps with the performance improvements of Litespeed servers. I hope the WordOps team considers implementing more flexibility like this.

[2020-06-01 04:26] naflan121 commented on #100
would love to have this feature, since i see there is a big woocommerce community

[2020-06-02 07:48] tersor commented on #292
Hello.

Depending on what php version your site(s) run on, I would take a look at these config files:

[code]

[2020-06-02 13:43] edneycarpinteiro commented on #292
Hi, @tersor !
Thanks for your help! But, forgive me for my ignorance, should I add this code to a any file or would it be a WordOps command line?
Thank you again!
Regards

[2020-06-02 14:44] dingman commented on #292
@edneycarpinteiro please kindly use the support forums for support questions,

https://community.wordops.net/

[2020-06-02 19:44] majiix opened #293 "Error on installing Admin Stack"
The command bellow generates the following error:

` wo stack install --admin`

[code]

[2020-06-04 04:49] janiosarmento commented on #291
Despite the error message, the update occurs. You may confirm it by looking at the files in the domain `conf` directory.

[2020-06-08 00:16] #288 closed

[2020-06-08 13:36] juanpvh opened #295 "mysql remote"
server01 = wordops with mysqlclient
server02 = mysqlserver

when creating a wordpress site on server01 wo does not identify that there is mysqlclient and installs mysqlserver replacing all configuration already done.

wo = v3.12.2

[2020-06-08 14:47] dingman commented on #295
Hi @juanpvh

Please kindly ask for support in the community forum.

You can find the solution here: https://community.wordops.net/d/482-wordops-with-a-remote-mysql-server

I personally use this for all sites and don't have any issues.

[2020-06-09 05:10] juanpvh commented on #295
no friend, the problem is not in my configuration, when a website is created it installs mysql replacing the mysqlclient configs

[2020-06-09 15:39] dingman commented on #295
Again, since this is not a bug, please open a thread on the community forum first. This is not the correct place for support.

[2020-06-10 18:41] netherstar opened #296 "wo site update example.com -le=wildcard --dns=dns_cf doesn't update wildcard ssl but only normal ssl"
i found a issue
`wo site update example.com -le=wildcard --dns=dns_cf`
doesn't update wildcard ssl but only normal ssl
[code]

[2020-06-11 07:16] miloszorica opened #297 "Laravel Support"
Is it on a roadmap? I mean, implementing it would be fairly trivial.

[2020-06-11 13:26] dingman commented on #297
I'm not aware of it being on the roadmap. This would easily turn into a rabbit trail though, of many people requesting different things.

You could fork this project into your own as well if you wanted to better support Laravel.

I use Laravel within WordOps already and it works great.

[2020-06-15 12:56] janiosarmento commented on #297
Honest comment: I don't understand what people mean by "Laravel Support". Is it that WO would download and install the libraries? Or what?

[2020-06-25 13:58] michacassola opened #298 "[Feature Request] SuiteCRM app configuration"
Please add SuiteCRM to the Apps configuration.
https://suitecrm.com/join-the-project/always-open-source/
https://docs.suitecrm.com/admin/installation-guide/downloading-installing/
https://suitecrm.com/download/

[2020-06-27 11:07] abbaselmas opened #300 "[Feature Request] Install Wordops Dashboard on subdomain or domain directly"
I can not access port other than 80 and 443. So that i can not see dashboard or netdata or 22222.

Is it possible to move dashboard to subdomain or completely different domain in order access them over 443 or 80 port?

Thanks in advance.

[2020-06-29 12:34] abbaselmas commented on #300
I have accomplished this with wordops proxy site creation.
exact command is:
sudo wo site create subdomain.site.ltd --proxy=127.0.0.1:22222
after creating site i have updated site with letsencrypt
sudo wo site update subdomain.site.ltd -le

[2020-06-29 12:34] #300 closed

[2020-06-30 16:28] michacassola opened #301 "Is OpenLiteSpeed an option?"
I just read this article here: https://wpspeedmatters.com/openlitespeed-vs-nginx-in-wordpress/
Should OpenLiteSpeed be considered?

Advantages over NGINX:
 - Apparently slightly better than NGINX
 - Apache-Drop-In meaning .htaccess functionality will work

[2020-07-05 23:33] Slapbox commented on #291
Same issue, except we can't disable it, which is a substantial issue for us because we need to run one of the tools that it blocks to check our links are all working after pushing a new version of our site.

**We upgraded WordOps a couple weeks ago.  I don't know for sure that the upgrade is what triggered the issue, but I can say for sure that it worked a few weeks ago on an older version.**

`wo

[2020-07-06 14:49] patilsandeep911 commented on #291
I have the exact same issue. We get same error while switching ngxblocker on or off. But the testing it after switching on works. for example:

as per [https://awesomeopensource.com/project/mitchellkrogza/nginx-ultimate-bad-bot-blocker]

# curl -I https://example.com -e http://100dollars-seo.com
curl: (92) HTTP/2 stream 0 was not closed cleanly: PROTOCOL_ERROR (err 1)

This thing works.

[2020-07-06 18:18] Slapbox commented on #291
@patilsandeep911 are you able to turn it off once it's on? It remains stuck on for us.

[2020-07-07 14:08] Richzendy commented on #267
The same problem here, any query param on url is not working with wp-supercache, i need to switch to wpfc my site to get this working.

[2020-07-07 15:26] gormv commented on #267
@Richzendy I don't recall exactly, as I ended the project, but I did some benching and ended running with  --wpfc

If you have a large site or need more speed, then I would investigate --wpredis as well.

But speed I got was much better than with any (free) plugin.

[2020-07-09 11:27] msdev20 opened #302 "LetsEncrypt SSL Renwal issue when multiple domain from different CloudFlare accounts"
SSL renewal issue when two domains from different Cloudflare account, because of acme.sh config store last Cloudflare account credential.

Can you add domain wise config-home for acme.sh like Nginx custom config in /var/www/config/nginx.

acme.sh support custom config-home
https://github.com/acmesh-official/acme.sh/issues/1278#issuecomment-366410085

System Information

- [x] `lsb_release -a`
- [x

[2020-07-15 11:31] rslonik commented on #284
Got this error today.

`/etc/letsencrypt/acme.sh --list --listraw` prints ISO-8859 encoded to `/var/lib/wo/cert.csv` as @janiosarmento previously spotted:

`site.com|"ec-384"|no|ter mai 19 03:00:20 UTC 2020|s�b jul 18 03:00:20 UTC 2020`

Then `/usr/local/lib/python3.6/dist-packages/wo/core/acme.py` (line 214) tries to read as UTF-8 and fails.

Changing from `utf-8` to `iso-8859-1` in this file is

[2020-07-17 16:37] michacassola opened #303 "If no SSL is set, site should be reachable over port 80 with ipv6"
If you setup a wp site without letsencrypt or any ssl you cannot reach it as post 80 is not listening on ipv6.

[2020-07-17 16:40] rslonik commented on #284
Que zica, meu safari não sei pq não tava mostrando erro. Mas consegui reproduzir no Chrome. Aí foi um parto pra descobrir o problema, que no fim das contas era a autorização com senha, o servidor do certificado não conseguia confirmar o endereço por isso. Agora está ok, finalmente.

[2020-07-19 13:17] yojoaquin opened #304 "Domain Name with Ñ letter Error"
Hi guys, thanks for WO!

I just found an issue with domains with a (sort of) special character, the letter "Ñ". It won't create the WordPress site. Domain name is ñammarket.com.ar its registered and delegated to Cloudflare. When trying to create the site the WP bit will throw a critical error:
[code]

Any clue how to bypass this error?

Thanks in advanced,

j

[code]

[2020-07-29 17:21] renatofrota commented on #304
From [Nginx Docs](http://nginx.org/en/docs/http/server_names.html#idn):

Try using `xn--ammarket-c3a.com.ar`

[2020-07-30 13:41] yojoaquin commented on #304
That made the trick. Gracias R!

[2020-07-30 13:42] #304 closed

[2020-07-31 10:16] mr119 commented on #106
You could add it as a new domain, and symlink the public htdocs directory to the original domain name's public htdocs, just a workaround though, to preserve the originality.

[2020-08-02 01:26] juanpvh commented on #301
These tests are very strange.
I did my own test. The tests were on real wordpress sites, a site with many javascripts (google ads, adsense, facebook, chatbot, analitycs). The results between Nginx and Openlitespeed were almost the same. The test was between wordOps vs Cyberpanel.
The winner for me was of course wordOps, I use nginx the longest.

now openlitespeed + node.js + ghost this stack has e

[2020-08-02 01:27] #295 closed

[2020-08-03 05:35] roshanjonah opened #305 "GIT Credentials"
I see that www-data user runs the show but we have a lot of GIT repos and we use HTTP not SSH so what is the best way to store the GIT credentials. Every time I store .gitconfig file, it just won't give permission for www-data to read that. I tried CHMOD and chown but nothing seems to work. It would keep saying

`error: could not lock config file /var/www/.gitconfig: Permission denied`

I even tri

[2020-08-03 16:21] VirtuBox commented on #305
Hello @roshanjonah,
www-data user cannot write anything in /var/www because this directory's owner is root.
So you can create the .gitconfig file as root, and then change owner and permissions with `chown www-data:www-data /var/www/.gitconfig && chmod 644 /var/www/.gitconfig`.
Or you can change /var/www directory owner (`chown www-data /var/www`) to allow www-data to create files in this directory

[2020-08-03 16:24] VirtuBox commented on #303
Hello @michacassola,
This is a known issue and it will be fixed asap.

[2020-08-03 16:34] VirtuBox commented on #302
Hello @msdev20,
because it's a very specific issue which add a layer of complexity in certificates management without being required for the most part of users, I'm not sure to have enough time to work on a workaround for this issue.
To handle this, you can also create an empty cloudflare account and invite it as member of your other accounts. This way, you will be able to use the same API credent

[2020-08-03 16:42] VirtuBox commented on #298
Hello @michacassola,
I'm working on adding custom templates support into WordOps. This way, all WordOps users will be able to build their own templates and use them to host any App with WordOps.
So, it will be pretty easy to build a template for SuiteCRM.
I will keep you updated about this feature release date.

[2020-08-03 16:55] michacassola commented on #303
@VirtuBox Thank you so much! And I am happy you are here again!

[2020-08-03 16:57] michacassola commented on #298
@VirtuBox Very relieved you are here! Thank you so much!
Looking forward to writing/making my own templates! Let me know if you need any assistance in this direction!

[2020-08-03 17:04] VirtuBox commented on #297
Hello @miloszorica,
Laravel should work with WordOps out-of-the-box. You just have to create a site with the flag `--mysql` before deploying laravel with composer : `sudo -u www-data -H composer create-project --prefer-dist laravel/laravel /var/www/yousite.tld/htdocs`.
The only change to make is editing your vhost to set the the root directory to /var/www/yoursite.tld/htdocs/public. You can use `w

[2020-08-03 18:29] vikas5914 commented on #297
There is one thing. by default Laravel `.env` file has 127.0.0.1 as the Mysql host.  And the user-created with `--mysql` flag does not have permission to access via 127.0.0.1.  So you have to change the host to "localhost" in `.env`

[2020-08-03 19:05] tersor commented on #305
@VirtuBox, so nice to see you here again! :)

@roshanjonah, we use git in our WordOps projects by changing the ownership in `/var/www/domain.tld/htdocs`. For example, create a deploy user and authenticate with ssh keys to your github account. Then you can do something like this:

[code]

You may want to exclude some folders by adding them to `.gitignore` and changing permissions back to `www-data`

[2020-08-03 21:42] roshanjonah commented on #305
@VirtuBox Thank you! I tried that actually but when I imitate as www-data user `sudo su -s /bin/bash www-data` and then go into the GIT folder and do "git pull", it wouldn't be able to read the git config despite having it under www-data user and group and 644 file permission. I logged into www-data user and then tried creating .gitconfig file but even then, it can't read the file it just created

[2020-08-04 13:43] joeyblake commented on #273
I am having the same issue. Running WordOps v3.12.2 I have migrated from EasyEngine, so perhaps that has something to do with it.

It seems that the _ecc directory is created in "config"
`/etc/letsencrypt/config/nextcloud.domain.com_ecc/`

But the script is looking for the certificates in "renewal"
`/etc/letsencrypt/renewal/nextcloud.domain.com_ecc/`

I copied the entire nextcloud.domain.com_ecc d

[2020-08-05 15:35] #292 closed

[2020-08-05 15:37] #283 closed

[2020-08-07 05:28] kymc commented on #301
Duplicate of #224

[2020-08-07 11:44] VirtuBox commented on #301
I'm closing this issue to only keep the previous one (#224).

[2020-08-07 11:44] #301 closed

[2020-08-09 01:45] AdsonCicilioti opened #306 "Easy question: function responsible for the `wo site cd`"
Hello guys!

First of all congratulations on this amazing tool.
I was intrigued about the construction of the features of this tool, especially the `wo site cd` that takes the main shell to the oo site directory.

Could you please show me what exactly does this function do? I don't know the python language, so I'm having a hard time finding it.

[2020-08-09 06:00] renatofrota commented on #306
See [cd function at wo/cli/plugins/site.py](https://github.com/WordOps/WordOps/blob/e82985a7d0858ce1192fcb609cf6299ced24c977/wo/cli/plugins/site.py#L222).

It uses [getSiteInfo](https://github.com/WordOps/WordOps/blob/e82985a7d0858ce1192fcb609cf6299ced24c977/wo/cli/plugins/sitedb.py#L29) to read the website's directory in WO internal db, then WO's internal [chdir function](https://github.com/WordO

[2020-08-09 06:16] renatofrota commented on #302
I can see WordOps already pass `--config-home` parameter to acme.sh (currently set to `/etc/letsencrypt/config`) when issuing certs. The only change would be to set it a per-domain location like `/var/www/domain.tld/conf/acme.sh/config` and set a new cron entry per-site (passing the same config-home) or am I missing anything else?

[2020-08-09 21:09] AdsonCicilioti commented on #306
Thx @renatofrota !

I'm trying made a similar function with pure ShellScript, but isn't possible because works only on subprocess. In this case i must request a third-party solution.

[2020-08-09 21:09] #306 closed

[2020-08-15 23:17] danadalis commented on #181
Hi @VirtuBox

I just installed redis stack and then created a new site with wpfc.

What do you recommend as settings in Nginx Helper plugin?

Below is standard settings - could i keep these as is?

**Caching method?**
- [x] nginx Fastcgi cache (requires external settings for nginx)
- [ ] Redis cache

**Purge Method**
- [x] when a post/page/custom post is published.   Using a GET request to PURGE/u

[2020-08-18 11:52] VirtuBox commented on #181
Hello @danadalis,
your settings are correct, Nginx-helper job is only to purge full-page cache (Nginx fastcgi_cache or Redis).
So when you are using Redis only for WordPress object-cache, purging redis isn't required.

[2020-08-19 09:53] #263 closed

[2020-08-20 02:44] rusowyler opened #307 "Reload fail2ban after site created"
Hi. I thinks it would be great if after a site it's created fail2ban reloads so that it adds the new log files. THANKS

System Information
- No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.1 LTS
Release:	20.04
Codename:	focal
- NGINX (1.18.0)
-nginx version: nginx/1.18.0 (WordOps Nginx-wo)
built with OpenSSL 1.1.1g  21 Apr 2020
TLS SNI support enabled
configure argum

[2020-08-21 02:26] VirtuBox commented on #271
Hello @michacassola,
the issue has been fixed.

[2020-08-21 02:26] #271 closed

[2020-08-21 02:27] VirtuBox commented on #296
Hello @netherstar,
is the issue still exist with the latest WordOps release ?

[2020-08-25 11:12] knilkantha commented on #181
Hi @VirtuBox ,
WordPress was initially installed with Redis cache using `wo site create site.tld --wpredis` . Now, I shift to fastcgi.
Does updating to fastcgi with `wo site update site.tld --wpfc` will also remove Redis stack from the server?

[2020-08-25 11:40] roshanjonah opened #309 "Install custom php extensions"
I was wondering if anyone knew a easy safe way to configure and install PHP Extensions - I am specifically looking for PCNTL php extension which is not there in php 7.2 which I am using. Any help would be much appreciated

System Information

- [ ] `lsb_release -a`
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.4 LTS
Release:	18.04
Codename:	bionic

- [ ] `nginx -V`

[2020-08-25 11:46] tersor commented on #309
@roshanjonah wouldnt it be **much easier** just to upgrade to php7.3 or php7.4?

Also, php7.2 is coming to an end of life in a couple of months.
https://www.php.net/supported-versions.php

[2020-08-25 11:48] roshanjonah commented on #309
@tersor First of all, thank you for your reply! Appreciate it.

Yes! I don't mind. Not sure if the app I am using is compatible but should be okay. Is PCNTL available on php7.3 and 7.4 in wordops? If so, I will do it right away!

[2020-08-25 12:03] tersor commented on #309
@roshanjonah yes available.

Also, you might want to edit `/etc/php/<php version>/fpm/php.ini` as it seems like some pcntl functions are disabled as default. Take a look at the `disable_functions` line.

[2020-08-25 12:45] roshanjonah commented on #309
@tersor Unfortunately, I can't see the ini or the .so file

<img width="2230" alt="screenshot_239" src="https://user-images.githubusercontent.com/20136098/91175765-66ab3280-e735-11ea-83f0-12c62123f9ba.png">

Any ideas where it may be or why it's not there?

[2020-08-25 12:52] tersor commented on #309
Dont know, but is seems enabled:

[code]

[2020-08-25 13:07] roshanjonah commented on #309
Yea not sure which version of it it's enabled for. I feel like it's not working with our software

[2020-08-25 13:14] tersor commented on #309
1. Check what php version your site is running:

[code]

2. Edit `/etc/php/<php version>/fpm/php.ini` and comment out or edit the `disable_functions` line.

3. Restart php-fpm:

[code]

4. Test.

[2020-08-25 13:19] roshanjonah commented on #309
Yup tried that mate, didn't seem to work. Wish there was a test PHP script we could run to see if its actually making use of those PCNTL extension

[2020-08-25 14:29] roshanjonah commented on #309
<img width="1136" alt="screenshot_240" src="https://user-images.githubusercontent.com/20136098/91187090-e3450d80-e743-11ea-9927-9ec6b95a83e3.png">

It's not loaded so surely it won't work I think! @tersor - Its the same result with PHP 7.3 too.

[2020-08-29 18:33] michacassola commented on #106
@mr119 Also sounds like a cool workaround, but changing the domain or being able to add an alias would make a lot of sense for me and I am sure others being built in.

@VirtuBox and I have already talked about Linux Containers and they are a great way to have lightweight and nearly complete separation of sites (if you don't have network problems that I had/have). I have one container with a base s

[2020-08-30 14:24] michacassola opened #310 "Timeout Issues - 5 Minute Downtime only on "selected" connections"
Since a few month I have been trying to figure out some network problems that are related to timeouts (522 on Cloudflare). The connection goes down for 5 minutes but only for my connection or for one uptime monitoring service (not all of them that I use!).

Can we increase the `keepalive_timeout 8;` to `keepalive_timeout 16`; please here please?
https://github.com/WordOps/WordOps/blob/master/wo/cl

[2020-09-05 21:06] michacassola commented on #100
Hey guys, i stumbled over Redisearch and a Plugin for it.
It is supposed to be faster...
https://github.com/7kmCo/wp-redisearch
https://oss.redislabs.com/redisearch/Quick_Start/#building_and_running_from_source

[2020-09-07 20:09] wandercrs opened #311 "erro cloudflare 520"
Pessoal,

O site está em ambiente de produção, porém está acontecendo os erros constantemente após instalar o WordOps.

version php = 7.4
Empresa da VPS: vps dime

Sempre que estou modificando layout acontece esse tipo erro.

![erro 520](https://user-images.githubusercontent.com/70917300/92414900-b5d96600-f12c-11ea-97aa-f36876af3117.JPG)

[2020-09-09 19:09] ibrahimhajjaj commented on #311
Got the same error

[2020-09-10 08:21] ibrahimhajjaj commented on #296
@VirtuBox  Yes It's

[2020-09-10 09:31] ibrahimhajjaj commented on #143
Got the same issue @VirtuBox

[2020-09-11 12:25] ibrahimhajjaj opened #312 "Please make sure your properly set your DNS API credentials for acme.sh"
I'm using Cloudflare free plan and when I try to issue a certificate I got this error

**wo site update x.com -le=clean**

`SSL is not configured for given site
`

**wo site update x.com -le --dns**

[code]
I'm using this API and I've tried all the SSL/TLS settings at Cloudflare

![image](https://user-images.githubusercontent.com/23178074/92924359-7ae37500-f441-11ea-83a4-899ad87a095b.png)

![image

[2020-09-12 16:35] Gfxfree commented on #310
You can try disable option: Always Online™ in Cloudflare.

[2020-09-12 16:37] teuber-dev commented on #311
You can try disable option: Always Online™ in Cloudflare.

[2020-09-12 21:11] michacassola commented on #311
I had problems due to redis full page caching for the last few months, maybe try to switch to FastCGI caching.
But my problem also seemed relevant to my environment only, so this is just a hunch.

[2020-09-13 01:22] teuber-dev commented on #311
My website use FastCGI, but same error 520.

[2020-09-13 12:09] crystaler4 opened #313 "How does WordOps stand with HTTP3/quic?"
When can we expect WordOps will be able to serve content over "new" superfast HTTP3 / QUIC protocol? Nginx part is already [done](https://www.nginx.com/blog/introducing-technology-preview-nginx-support-for-quic-http-3/).

Is is enabled already? I see the mention only about [HTTP2](https://wordops.net/features/).

`wo site create site.tld --http3`

[2020-09-14 21:44] zerofill commented on #312
I just started using WordOps, but you shouldn't have to do anything but set Cloudflare to Full (strict). That si what I do with Letsencrypt all the time, on multiple platforms. It also worked fine with domain I just put on wordops.

[2020-09-15 11:41] VirtuBox commented on #313
Hello @crystaler4,
I'm already working on adding HTTP/3 QUIC support in (my script)[https://github.com/VirtuBox/nginx-ee] to compile Nginx from source with custom modules (compatible with WordOps).
After that, if it's possible to build a new Nginx package with HTTP/3 support for WordOps, I will also push it on our debian packages repository to make it available with WordOps.

HTTP/3 QUIC support c

[2020-09-15 16:44] tdtgit commented on #212
Thinking to close this issue as it's too old and not in critical roadmap.

[2020-09-15 16:44] #212 closed

[2020-09-15 19:56] tdtgit commented on #70
Working on this feature :)

[2020-09-16 07:30] kevin25 opened #316 "HTTP2 HPACK Encoding Support."
Can you please share the HTTP2 HPACK Encoding Support for Nginx 1.18?

[2020-09-18 16:09] majiix commented on #293
Any update on this?

[2020-09-18 16:10] majiix commented on #293
Any update on this @VirtuBox ?

[2020-09-19 13:23] ibrahimhajjaj commented on #312
not working as I said I tried all the options

[2020-09-20 13:42] vikas5914 commented on #312
I suggest you delete the Cloudflare info from the account.conf and export them again and try,

[2020-09-21 08:12] ibrahimhajjaj commented on #312
didn't work

[2020-09-21 08:23] ibrahimhajjaj commented on #312
[code]

[2020-09-21 08:53] vikas5914 commented on #312
@ibrahimhajjaj How did you set your cf email and key

[2020-09-21 11:06] ibrahimhajjaj commented on #312
export CF_Key="ddd"
export CF_Email="d@gmail.com"

also, I've tried to do it manually by adding the keys to /etc/letsencrypt/config/account.conf file. and I've confirmed that the keys exist like this

SAVED_CF_Key='x'
SAVED_CF_Email='x@gmail.com'

@vikas5914

[2020-09-29 11:27] ibrahimhajjaj commented on #312
Any update on this issue?

[2020-09-29 14:48] vikas5914 commented on #312
@ibrahimhajjaj

Are you using the root user ?

[2020-09-29 16:08] ibrahimhajjaj commented on #312
Yes

[2020-10-02 10:58] VirtuBox commented on #316
Hello @kevin25,
what do you mean ?

[2020-10-07 13:15] philbraun commented on #224
Just a quick commentary: unless I'm not understanding something correctly, this is not quite correct. There's no problem at all using PHP-based caches like WPRocket or Cache Enabler with OLS. LSCache simply is the option most/best integrated, like fastCGI with NGiNX.

[2020-10-08 04:16] mdotk opened #317 "Brotli + WP Redis = CPU usage 100%"
If you enable Brotli and use WP Redis for your sites, then CPU usage will eventually reach 100%, usually within 24 hours. This has happened to me several times over several months on several different servers.

[2020-10-11 16:37] tdtgit opened #318 "[Urgent] New PHP 8.0 will fail the installation"
# Issue

The new PHP 8.0rc1 package will automatically install on Ubuntu 20.04 and will fail:

1. The WordPress installation
[code]
2. CLI as PHP 8.0rc1 become default version:
[code]

# Workaround
1. Not yet
2. Current user: do not run `apt upgrade` right now. If you accidentally upgrade and download the PHP 8.0 package, run ```sudo update-alternatives --config php``` then select your defalt PHP-

[2020-10-11 20:08] VirtuBox commented on #318
Hello @tdtgit,

thanks for your report, I'm going to publish a fix tomorrow for this issue.

[2020-10-12 04:27] mkvtvseries commented on #318
Hello, How to access/see monitoring (NETDATA)?
I didn't see any guide, Kindly please

[2020-10-12 10:01] VirtuBox commented on #318
https://docs.wordops.net/getting-started/post-install-steps/#wordops-backend

[2020-10-12 14:27] mkvtvseries commented on #318
THANK YOU

[2020-10-12 18:17] janiosarmento opened #319 "Include support to conditional avif images"
The AVIF image format is real now, and I think WO could extend the webp conditional serving to avif.

[2020-10-12 18:22] dingman commented on #319
Feel free to submit a PR for it.

There doesn't seem to be much browser support for it right now.

https://caniuse.com/avif

[2020-10-12 18:27] janiosarmento commented on #319
All Chrmoium based browsers support it, and Firefox has experimental support.

Feel free to not take my word as truth and do your own research.

[2020-10-12 18:54] janiosarmento commented on #317
Same to me. I eventually gave up Brotli in Nginx.

Now I use Cloudflare for HTTP3, Brotli and conditional AVIF/WEBP images (using Workers).

[2020-10-12 20:44] pifiuk opened #320 "fatal: name consists only of disallowed characters:"
Hello,

I am trying to create a WordPress site on Ubuntu 20.04 using Wordops, however I get this error every time. I guess it doesn't like the fact there is a number in the domain ? Any way around this issue?

Command Error:
2020-10-12 20:34:16,937 (INFO) wo : Installing plugin nginx-helper
2020-10-12 20:34:16,951 (INFO) wo : Testing Nginx configuration
2020-10-12 20:34:16,966 (INFO) wo : There wa

[2020-10-13 12:36] VirtuBox commented on #319
Hello @janiosarmento,

Feature has already been added by @tdtgit in PR #314. It will be available in the next release (probably today).

[2020-10-13 12:41] janiosarmento commented on #319
Hello,

Has this been tested with a browser with WEBP support but no AVIF?

I think the `try_files` clause will force the original file to any browser webp cabaple, but not avif capable.

Anyway, I"ll test it as soon as the new release goes public.

[2020-10-13 13:21] janiosarmento commented on #319
In line 37 of `wo/cli/templates/avif.mustache` rather than:

`default "";`

it should be something like:

`default ".a-very-improbable-extension";

Otherwise, the `try_files` will never serve a .webp for Safari, for example (it supports WEBP but not AVIF).

I could submit a PR, but I'm a potato regarding Git.

[2020-10-13 15:53] tdtgit commented on #319
Hi @janiosarmento,

Thanks for pointing that out. Guest you're right! 👍  I'm updating the PR to address this issues.

[2020-10-13 16:15] tdtgit commented on #319
Hi @janiosarmento, can take a look at https://github.com/tdtgit/WordOps/commit/e2dc4bdc27dac6172ebd9ecc6da39dd44c2f08a6. I've standardlize the image suffix code. For this change, if we have new type of image codec in future, it will make it easy to implement.

[2020-10-13 16:20] janiosarmento commented on #319
Hi,

I'm not sure if I understood the logic you implemented, but the way I see it, it will try to serve AVIF then original file; or WEBP then original file.

The best should try AVIF, then try WEBP, then original file.

There are cases where AVIF is larger than WEBP, so it should not be generated.

The best approach, IMHO, it would be just changing avif.conf to replace the `""` with a random strin

[2020-10-13 16:36] tdtgit commented on #319
Just tested and fail that case. I will try some ways or move back to the original and add the random string as you advised.

[2020-10-13 16:37] janiosarmento commented on #319
Thank you @tdtgit

[2020-10-13 16:56] tdtgit commented on #319
Hi @janiosarmento, @VirtuBox , I've pushed new PR #322 to address this issue. Please take it to the release too :)

[2020-10-13 19:22] VirtuBox commented on #320
Hello @pifiuk,
I'm going to investigate on this issue.

[2020-10-14 15:02] janiosarmento commented on #319
@VirtuBox and @tdtgit — I updated WO in two servers of mine, and there is no reference to "avif" in `/etc/nginx` at all.

Is that expected?

![](https://shares.cdnfacil.com.br/2020/10/ssh_25374A48.png)

[2020-10-14 16:31] tdtgit commented on #319
No it's not an expected behavior. Tried both new install and update my current server, both have `avif`.

![Screen Shot 2020-10-14 at 23 31 13](https://user-images.githubusercontent.com/4527866/96018371-61d14800-0e75-11eb-9b3f-a44f6854d969.JPG)

[2020-10-14 16:56] dingman commented on #41
@VirtuBox this seems like the highest security risk right now to this setup. Any updates to when we can expect to have this feature?

[2020-10-14 18:12] michacassola commented on #41
Additional to separation due to security I also need to distribute/limit resources (that's what I am selling after all together with managing services), that is why I have started using LXD (Linux Containers) on top of my servers for near complete separation. It also gives me the ability to quickly move a complete container to another host server and also do backups in that way through LXD itself.

[2020-10-15 07:40] tersor commented on #247
I was investigating traffic stats with geolocation, and became aware of the need for the geoip2 module. Adding this module would be very nice.

[2020-10-15 12:04] janiosarmento commented on #319
There is something wrong. My .conf files are in 3.12.2 version (and I don't have .custom form them)

[2020-10-15 12:44] janiosarmento opened #324 "wo update seems not be updating configuration files"
![](https://shares.cdnfacil.com.br/2020/10/wo_253879D5.png)

System Information

- [ ] `lsb_release -a`

[code]

- [ ] `wo info`

[code]

- [ ] `nginx -V`

[code]

- [ ] `wo -v`

[code]

- [ ] `wp cli info --allow-root`

[code]

- [ ] `curl -sL git.io/fjAp3 | sudo -E bash -`

https://transfer.vtbox.net/qyNFO/wordops.txt

[2020-10-15 13:49] janiosarmento commented on #324
Even after 3.12.4 the same issue persists.

![](https://shares.cdnfacil.com.br/2020/10/ssh_pf_25388ACD.png)

[2020-10-15 13:58] VirtuBox commented on #324
Hello @janiosarmento,
WordOps will not upgrade configuration files until you run `wo stack upgrade`.

[2020-10-15 13:59] VirtuBox commented on #318
Issue has been fixed in the last release.

[2020-10-15 13:59] #318 closed

[2020-10-15 14:02] janiosarmento commented on #324
Thanks, @VirtuBox

Anyway, the avif.conf was not copied to `/etc/nginx/conf.d`, I had to copy it manually after `wo stack upgrade`.

[2020-10-15 14:43] VirtuBox commented on #284
Issue has been fixed in the last release.

Please update WordOps with the command `wo update`

[2020-10-15 14:43] #284 closed

[2020-10-15 14:44] VirtuBox commented on #324
Hello @janiosarmento,
okay I will take a look on this issue.

[2020-10-15 18:12] VirtuBox commented on #324
Hello @janiosarmento,
I'm not able to reproduce the same issue :
[code]

[2020-10-16 07:09] buzucan commented on #319
Do you have some bulk convertor for avif? :)

[2020-10-16 13:50] janiosarmento commented on #319
@buzucan

I use this tool for generating AVIF:

https://github.com/Kagami/go-avif

I'm going to write a tutorial for WO Docs with a sample script.

The general logic is:

- iterate through all image files
    - for each image file generate the correspondig webp
    - check if the webp is really smaller than the original file
    - if not, delete the webp
    - generate the corresponding AVIF
    -

[2020-10-16 14:58] tdtgit commented on #319
For my case, [kornelski/cavif-rs](https://github.com/kornelski/cavif-rs) did a really good job. It's better with multicore server, good memory usage (~250MB) and support the transparent images.

[2020-10-16 15:29] janiosarmento commented on #319
@tdtgit

I'm just starting to test cavif-rs, to compare with go-avif. :)

[2020-10-16 18:51] crystaler4 opened #325 "`info` subcommand in the table on the beginning of commands documentation"
Hi, [here](https://docs.wordops.net/commands/site/
) is missing `info` subcommand in the table on the beginning.

[2020-10-19 05:02] tdtgit commented on #313
Great to see this feature in WordOps as I notice Chrome mainstream that support [`h3-29`](https://quic.nginx.org/) now.

[2020-10-19 17:03] tdtgit commented on #325
I've push an PR at https://github.com/WordOps/docs.wordops.net/pull/28 to fix this issue. Please note this repo is for WordOps CLI script and the docs should be posted in https://github.com/WordOps/docs.wordops.net/

[2020-10-19 20:37] pifiuk commented on #320
Any updates on this?

[2020-10-24 21:46] py2us opened #327 "Cache with parameter exceptions"
There are certain GET parameters that are not used on the server side, but on the client/browser side like:

**utm_*** (utm_source, utm_medium, utm_content, utm_campaign) - Google Analytics
**fbclid** - Facebook SDK

In this file it is indicated that if there are parameters in the url, it is not cached. This causes that all visits are not cached (fastcgi or redis).

`/wo/cli/templates/map-wp.musta

[2020-10-25 09:34] pifiuk commented on #320
I updated Wordops, even though I didn't hit the same error the site failed to create. However I reinstalled the VPS and with the latest version of Wordops the site creation worked correctly with a number in the URL.

[2020-10-25 09:34] #320 closed

[2020-10-25 10:23] riyas-rawther opened #328 "The second site resolving the first site"
- Create a new site  wo site create site1.example.com --wp --php74 --wpredis --letsencrypt

- Create another site  wo site create site2.example.com --wp --php74 --wpredis --letsencrypt
- check the SSL certificate of site1.

- The site2 is actually coming from site1

[2020-10-25 11:13] VirtuBox commented on #328
Hello @riyas-rawther,
thanks for your report, I'm going to investigate on this issue

[2020-10-25 12:55] VirtuBox commented on #325
Hello,
the issue has been fixed by @tdtgit.

[2020-10-25 12:55] #325 closed

[2020-10-25 13:03] VirtuBox commented on #328
Hello @riyas-rawther,
I was not able to reproduce this issue on a fresh install.
Have you issued a wildcard certificate on this server ?

[2020-10-25 13:04] VirtuBox commented on #327
Hello @py2us,
thanks for this suggestion. I will take a look on this.

[2020-10-25 18:00] VirtuBox commented on #327
Hello @py2us,
I have updated Nginx cache mapping rules to force query strings caching when the query strings looks like utm_ or fbclid.
Feature will be available in next release.

[2020-10-26 00:10] #327 closed

[2020-10-26 17:34] dingman opened #331 "Feature Request: Do you want to upgrade?"
In the past year that I've been using WordOps, I noticed one thing which I think would make it a better experience.

The choice to upgrade and from what to what.

For example, when I run: "sudo wo update" it doesn't first tell me there is an update available, nor ask me if I want to continue.

I would love to see something like this.

Bash:

wo update

Current Version: X.XX.X
New Version Available

[2020-10-26 17:55] VirtuBox commented on #331
Hello @dingman,
this is an excellent suggestion.
For `wo update`, it will be pretty easy to add additional informations and to prompt user for confirmation.
For `wo stack upgrade`, it's a little bit harder because we cannot simply compare template files with current stack .conf files before deploying them because templates variables are defined during conf deployment.

[2020-10-26 17:58] dingman commented on #331
@VirtuBox here's a thought then.

for `wo stack upgrade` it only prompts when upgrading versions. In terms of conf files, have an option like you would for say a GRUB list, "keep current," "use maintainers," "update clean" etc. so that you don't have to worry about deciding for the user, but allow them the options.

[2020-10-26 17:59] olegcarguy opened #332 "Not seeing updated NGINX caching rules"
Hi, just updated to 3.13.1, ran wo stack upgrade but not seeing the updated nginx caching rules from this commit: https://github.com/WordOps/WordOps/pull/329/commits/3d32e02c654a481e0ef469c161bb62a0330dbedb

I'm assuming these changes are supposed to be in the /etc/nginx/conf.d/map-wp-fastcgi-cache.conf file but they are not present there.  Note that I am running a custom version of this file, and

[2020-10-26 18:45] vikas5914 opened #333 "Install Composer2 by default."
Composer 1 is EOL. We should move to Composer 2.

For upgrading to composer 2,

[code]

[2020-10-26 18:46] VirtuBox commented on #332
Hello @olegcarguy,
can you run the following command to create a debug log and provide me the link displayed :
[code]

[2020-10-26 18:53] VirtuBox commented on #333
Hello @vikas5914,
composer can also be automatically upgraded to the latest version by running `wo stack upgrade` or `wo stack upgrade --composer`.

[2020-10-26 20:41] olegcarguy commented on #332
Sure.  No problem.  Here is the link:
https://transfer.vtbox.net/2wc99/debug.log

On Mon, Oct 26, 2020 at 1:46 PM VirtuBox <notifications@github.com> wrote:

[2020-10-26 21:07] VirtuBox commented on #332
Ok thanks. Can you check the content of `/usr/lib/wo/templates/map-wp.mustache` ?
Is it the same than https://github.com/WordOps/WordOps/blob/master/wo/cli/templates/map-wp.mustache ?

[2020-10-26 21:11] olegcarguy commented on #332
Just checked.  No it's not.  It's an old version.  So that explains why
nginx config file hasn't been updated, but why would this mustache file not
be updated?

On Mon, Oct 26, 2020 at 4:07 PM VirtuBox <notifications@github.com> wrote:

[2020-10-26 22:00] VirtuBox commented on #332
It's a very good question. Have you used `wo update` to update WordOps to the latest release ?
I will update all my servers this evening and check if there is the same issue on some of them.

[2020-10-26 22:21] olegcarguy commented on #332
Yes I did run this command.  I tried running it multiple times actually,
but nothing.  Even though the mustache file contents haven't been applied
to the .orig file, the .orig file does state that it's from 3.13.1.  it
just has old data.

On Mon, Oct 26, 2020 at 5:00 PM VirtuBox <notifications@github.com> wrote:

[2020-10-26 23:47] ajaydsouza opened #334 "Issues running wo"
[code]

I'm getting the above error since the upgrade to the latest version of wordops.

System Information

- [ ] `lsb_release -a`
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04 LTS
Release:	18.04
Codename:	bionic

- [ ] `wo info`
Cannot run due to the above error

- [ ] `nginx -V`
nginx version: nginx/1.18.0 (WordOps Nginx-wo)
built with OpenSSL 1.1.1g  21 Apr 202

[2020-10-27 01:06] VirtuBox commented on #334
Hello @ajaydsouza,
can you run the following command :

[code]

If the second command fail, try this one :
[code]

[2020-10-27 09:01] ajaydsouza commented on #334
Thanks. It looks like both failed.

[code]

[2020-10-27 09:01] ajaydsouza commented on #334
Is there a way for me to reinstall wordops - not sure if that will help fix it.

[2020-10-27 09:30] VirtuBox commented on #334
Can you send me the output of the commands `dpkg --list | grep apt` and `dpkg --list | grep pkg` ?

Otherwise, this command should fix your current issue :

[code]

Let me know if WordOps work properly after running this command.

[2020-10-27 13:39] VirtuBox commented on #324
Hello @janiosarmento,
does this issue still exist ?

[2020-10-27 13:42] janiosarmento commented on #324
I'm not sure the issue still exists. It's kinda random.

I guess we could close this issue as it's hard to reproduce.

[2020-10-27 15:47] ajaydsouza commented on #334
This command worked! Thank you very much. Any idea what happened?

[2020-10-27 15:47] #334 closed

[2020-10-27 17:35] VirtuBox commented on #334
Hello @ajaydsouza,
yes, python-apt package wasn't compiled properly on your server and that's why `wo` command failed. But I'm still trying to understand why python-apt compilation failed.

[2020-10-27 17:55] ajaydsouza commented on #334
Thanks. Am not sure what happened either. The last update from a few days back went well with the wo update command and I thought so did this one.

Is there anything I can do to help debug?

[2020-10-27 23:23] olegcarguy commented on #333
is there a way to exclude composer from being updated while upgrading the rest of the stack?  We have other apps on our server that require 1.x

[2020-10-28 00:28] VirtuBox commented on #333
Hello @olegcarguy,
you just have to define the stack your want to upgrade. For example :
[code]
You can also use `wo maintenance` to only keep your APT packages up-to-date.

[2020-10-28 08:56] vikas5914 commented on #333
Closing this since its already implemented.

[2020-10-28 08:56] #333 closed

[2020-10-29 03:31] mdotk opened #337 "Cannot complete install on Ubuntu 20"
See this thread https://community.wordops.net/d/726-wordops-install-problem

I have just experienced the problem myself on a new server

Also applies to Ubuntu 18 (checked by me also)

[2020-10-29 12:27] Sl1nkman commented on #337
I ran into this issue today as well.
Description of issue:
When running $ wget -qO wo wops.cc && sudo bash wo

OR

$ git clone https://github.com/WordOps/WordOps.git
$ cd WordOps/
$ sudo bash install

The script gets stuck after the dependencies are installed
Installing Wordops... is permenantly displayed,
The user is never prompted for name and email.

Expected result:
WordOps installed and promp

[2020-10-29 14:28] VirtuBox commented on #337
Hello,

the issue has been fixed, you can install WordOps with `wget -qO wo wops.cc && sudo bash wo`.

[2020-10-29 20:29] #337 closed

[2020-11-01 17:36] AnkitaBeniwal opened #339 "Support to create and manage WordPress staging website"
Hi, will it be possible to add feature to create and manage WordPress staging website

[2020-11-01 19:30] janiosarmento opened #340 "Add option for hexdump to BLOB columns in MySQL"
Several operations in WO (site update) generate a mysqldump backup. These backups should be made using the option `--hex-blob` to prevent data loss in non-WP sites, or any other using BLOBs.

[2020-11-02 10:59] VirtuBox commented on #340
Hello @janiosarmento,
I just pushed a fix for this issue : https://github.com/WordOps/WordOps/commit/7465628d95f2608815f07b1f06eca5832d364d1a

[2020-11-03 00:34] bumblebeebh opened #341 "config option for running nginx on non-default port"
I wish to run nginx on non-default port of 8080. There is no global config option to accomplish this.

Use case: run wordpress behind another reverse proxy web server.

There is a mustache template here.. Should we modify this or can this be considered as a feature request?

https://github.com/WordOps/WordOps/blob/fdefecbfba5d28b7edea8c6212e6188e513533a8/wo/cli/templates/virtualconf.mustache

[2020-11-04 17:10] ibrahimhajjaj commented on #312
This problem still exists

[2020-11-06 12:48] mscice opened #342 "purge fastcgi cache on a multisite"
Hello just a question.. I have around 5 sites running on a single vps.. if any of the sites purges fastcgi cache via wp-admin... it purges all from /var/run/nginx-cache...

is there anyway to just purge its current domain multisite only? and will not purge other sites cache?

[2020-11-06 13:26] tersor commented on #342
Hello.

Yes, cache on all sites will get purged if the same cache directory is used, and nginx-helper uses `/var/run/nginx-cache/` by default. But you can override this in `wp-config.php`, for example:

[code]

[2020-11-06 13:52] mscice commented on #342
yes but then how do i configure nginx to store domain cache under what directory ?
Right now all sites use /var/run/nginx-cache/

Thank you for reply..

[2020-11-06 14:15] tersor commented on #342
Yes you need custom nginx config per site, take a look in `/etc/nginx/conf.d/fastcgi.conf` and `/etc/nginx/common/wpfc-php<version>.conf`.

[2020-11-06 14:22] mscice commented on #342
thank you once again

maybe would be nice to add such option in future releases ..

[2020-11-06 18:45] jatin23pasrija commented on #196
Just comment the line in /etc/nginx/nginx.conf file and reload the nginx service. "#more_set_headers "X-Powered-By : WordOps";"

[2020-11-07 17:59] VirtuBox commented on #342
Hello @mscice,
when you use the `Purge Cache` button in wp-admin, Nginx-helper will purge the whole Nginx fastcgi_cache, but it should not be required if you configure "Purging Conditions" with Nginx-helper. In this case, it will automatically and selectively purge Nginx fastcgi_cache when you create/update an article, add/remove comments etc ...

[2020-11-07 18:14] VirtuBox commented on #341
Hello @bumblebeebh,
to run Nginx on a non-default port, you  can edit the default vhost `/etc/nginx/sites-available/default`.
And replace :
[code]
with :
[code]
Then to run your vhost on the same port, you can create an additional file ports.conf in /var/www/yourdomain.tld/conf/nginx with the directives :
[code]

Otherwise, yes you can use your own mustache template, by downloading and editing vir

[2020-11-10 09:39] mscice opened #343 "Debian 10 Buster Mariadb 10.5"
Hello, I see that default install of wordops is 10.3 mariadb... what would be the process upgrading it to 10.5..

Are there any issues running 10.5 with wordops?

Thank you

[2020-11-10 13:06] VirtuBox commented on #343
Hello @mscice,
since the release v3.13.0, WordOps install MariaDB 10.5 by default.
If you already have MariaDB 10.3 installed, you can upgrade to MariaDB 10.5 with the command `wo stack migrate --mariadb`.

[2020-11-15 08:49] crystaler4 opened #344 "Error when trying to install "ngxblocker" on Ubuntu 20.04"
I got following errors:

[code]

after I this this commands

[code]

[2020-11-15 09:21] crystaler4 opened #345 "Question: How does WordOps stands with PHP session handling within Redis or Memcache"
Hi,

according [this book](https://www.oreilly.com/library/view/modern-php/9781491905173/), PHP session handling in Redis or Memcache is recommended for high traffic sites:

WordOps cooperates with both, Redis and Memcache. It is possible to add configuration like this:

`session_handler=redis` or `session_handler=memcache`

or is this feature already build in?

[2020-11-17 15:42] TuaVida commented on #343
Hello VirtuBox,

I face problems when trying to upgrade to MariaDB 10.5.
When I use the wo stack migrate --mariadb command, I just get the error below:

`Incorrect parameters
Usage :
zstd [args] [FILE(s)] [-o file]

FILE : a filename
with no FILE, or when FILE is - , read standard input
Arguments :
-# : # compression level (1-19, default:3)
-d : decompression
-D file: use file as Dictionary
-o fil

[2020-11-21 14:03] sanjayojha opened #346 "Can we install it on 64bit ARM architecture?"
When seeing Prerequesites, It mention to use x86_64 architecture?
So is it not possible to use it with 64bit Arm architecture with Ubuntu 20.04?
I am using AWS EC2

[2020-11-24 13:54] renandsgn opened #347 "EasyEngine v3 migration on Debian 8"
The WordOps site says witch debian version supported is v9, but i have Debian v8 and i need to migrate to WordOps, any idea of how can i do that?

[2020-11-24 14:39] jtnydv commented on #296
Facing the same issue

[2020-11-24 17:52] microram commented on #312
I don't know if this helps anyone, but I copy/pasted the SAVED_CF_Key and SAVED_CF_Email from another working installation into my /etc/letsencrypt/config/account.conf file and now it works. It looked the same but I deleted those lines and pasted them from another working file. Also the location of the lines changed. I put them just below CERT_HOME as they were in the working file. Maybe there was

[2020-11-26 17:33] buzucan opened #348 "PHP 8?"
Today PHP 8 was released. It will be supported? :)

[2020-11-27 08:17] tersor commented on #348
Relevant to this: WordPress core aims for "beta compability" in the 5.6 release, which is currently scheduled for December 8, 2020.

Though, the broad support for php8 in plugins and themes sets the scene for a crazy testing bonanza in the upcoming weeks. Cant wait ;-)

[2020-11-30 16:06] VirtuBox commented on #348
Hello,

yes PHP 8 support will be added soon. I'm just waiting for wp-cli official support of PHP 8 to make sure it will not cause issues when creating/updating WordPress sites.

[2020-12-04 10:24] VirtuBox commented on #347
Hello @renandsgn,
we do not support Debian 8 anymore, mostly because php packages are not available anymore on Debian 8.
You should upgrade your server to Debian 9 as soon as possible because Debian 8 EOL was the 30 June 2020.

[2020-12-06 12:15] scott0730 opened #349 "Database corrupted after migrating to MariaDB"
After running `wo stack migrate --mariadb` I couldn't even repair my DB on Wordpress, is there any way I can restore to use MySQL instead?

This issue tracker is only for issues directly related to WordOps.
Please use <https://community.wordops.net> for support questions.

If you feel the issue is a WordOps specific issue, please attach the output of the following commands.

System Information

-

[2020-12-06 17:26] VirtuBox commented on #346
Hello @sanjayojha,
we are not providing Nginx package on 64 bit ARM yet, so WordOps will not work on EC2 ARM instances.
But i will take a look to see if it's possible to build Nginx package on 64 bit ARM.

[2020-12-08 04:11] sanjayojha commented on #346
Thank you!
Will wait for the update.

[2020-12-08 04:11] #346 closed

[2020-12-08 06:57] crystaler4 commented on #345
I found this link https://rtcamp.com/tutorials/php/redis-php-sessions/

[2020-12-09 05:17] scott0730 commented on #349
Managed to fix it with `mysqlcheck -u root -p --auto-repair --check --all-databases`

[2020-12-09 05:17] #349 closed

[2020-12-10 14:51] jeroenops commented on #190
@emanweb Do you have an update? Can the issue be considered fixed?

[2020-12-10 14:55] jeroenops commented on #343
Are you using Debian or Ubuntu? And which version? Also, are there some more technical details in the WordOps log (`/var/log/wo/wordops.log`)?

[2020-12-10 14:58] jeroenops commented on #317
This seems more like a configuration issue (not necessarily on your side). Can you share the specs of the server/VPS running WordOps?

[2020-12-10 15:06] mscice commented on #343
issue fixed

[2020-12-10 19:46] mdotk commented on #317
Ubuntu 18+, varying specs 2GB - 8GB RAM @jeroenops Lots of different servers

[2020-12-11 04:07] vikas5914 commented on #317
@janiosarmento can you provide the Condition image using Workers example. We also use Cloudflare and like do that aswell.

[2020-12-12 08:25] santosadrian opened #350 "I know debian bullseye is not supported yet, but in the case you want to fix it this is the error"
Running debian bullseye 5.9.0-3-amd64
![wo-09-24-52_12-12-2020](https://user-images.githubusercontent.com/8394201/101979264-f7ae0700-3c5b-11eb-80c5-c72c97bb5afb.png)

[2020-12-16 16:48] javiercasares commented on #348
WP-CLI / WordPress officially supports PHP 8 since WordPress 5.6. Also, I tested WordPress with Ubuntu 20 and PHP 8 and works perfect (the core and simple plugins). The incompatibilities are on some plugins themes, but _not a problem for WordPress Core_.

[2020-12-17 09:49] buzucan commented on #348
uh! Nice! :)

[2020-12-17 10:06] javiercasares commented on #348
Also, for anybody who wants, there is an official [Hosting Team](https://make.wordpress.org/hosting/) and we usually update the [Server Environment](https://make.wordpress.org/hosting/handbook/handbook/server-environment/) information.

Also, there is a [Requirements](https://wordpress.org/about/requirements/) page.

And also, there are 2 JSON API to check:
- [WordPress security versions](https://

[2020-12-19 20:47] Slapbox commented on #231
Suddenly seeing this error after upgrading from `3.12.2` to `3.13.2`

[2020-12-19 21:25] Slapbox commented on #343
@mscice could you share how you resolve this? We're seeing the exact issue same.

@jeroenops any ideas? I couldn't find anything that seemed helpful in that log file. We're on Debian 9 All it shows is:

[code]

[2020-12-20 07:53] mscice commented on #343
Did you wo update?

is that directory writable? You doing this as root?

[2020-12-20 20:11] Slapbox commented on #343
Thanks for your reply @mscice.

- Yes we ran `wo update` to 3.13.2. We didn't try migrating to MariaDB 10.5 until 3.13.2 was released, so any bugs in earlier versions of 3.13.x shouldn't be a factor.
- Is the directory writeable? Yes - and I even tried using `chmod 777` to temporarily open it open completely
- Yes, running as root

[2020-12-20 20:17] Slapbox commented on #343
@VirtuBox if all else fails, is there a way to disable the backup feature and force the migration? Between manually created backups and virtual machine snapshots, there's plenty of other safety nets we can fall back on.

[2020-12-20 20:38] Slapbox commented on #343
I tried everything mentioned here: https://stackoverflow.com/a/30460073/6025788

I didn't run into any issues in those steps. I increased `max_allowed_packet` to `1G` from the default of `64M` in our `my.cnf` file. We have almost 4gb of space available and the combined size of our databases is approximately 150mb. Any ideas?"

[2020-12-20 22:52] mscice commented on #343
hmm i have no clue, did you restart mysql? reinstall gzip? check permissions?

user full path for backup

[2020-12-20 23:38] Slapbox commented on #343
Yeah it's a weird one! I kept thinking, "Surely this will fix it!" - but sadly not.

It occurred to me to try using the full path in the backup command since that was a common suggestion, but I don't have control over that as far as I can tell.

**Additional steps taken:**

- Updated/upgraded/dist-upgraded with apt
- Restarted mysql
- Disabled all custom entries in our mysql's my.cnf file
- Server

[2020-12-20 23:48] mscice commented on #343
You running it as root? Di you wo stack restart ?

Try export LANG=C

[2020-12-27 04:34] dingman opened #351 "Feature Support: Configure Cluster Environment"
I would love to see full support for creating clustered environments. Something cloud-agnostic so it can easily be scaled across multiple servers

[2020-12-27 04:35] dingman opened #352 "Feature Request: Varnish"
Having been using WordOps for more than a year now, and seeing the speed of how WPengine configures varnish, I feel like WordOps could benefit from Varnish as well.

[2020-12-30 20:44] Slapbox commented on #343
Got a chance to try `export LANG=C` but unfortunately the outcome is the same. Running as root and tried `wo stack restart` as well as a full server reboot.

[2021-01-04 20:44] Slapbox commented on #343
@jeroenops @jeroenlaylo @VirtuBox any ideas about this?

[2021-01-04 21:14] jeroenops commented on #343
**How is your server partitioned?**

I am asking this, because error 32 means a broken pipe. In the majority of the cases, this is caused by insufficient diskspace - or because a command was terminated before actually finishing the job. Although `Incorrect parameters` on `zstd` could indicate a different problem.

Does the backup error out fairly quickly?

[2021-01-04 22:30] Slapbox commented on #343
Hey @jeroenops, thanks for your reply!

**As far as partitions**, we're using the default filesystem partitioning for a Debian virtual machine from Digital Ocean - all of our data is on `/dev/vda1`, with some other auto-created partitions using `udev` and `tmpfs` - none of which are full either.

**The backup errors out almost instantly**. I figured it was a space thing at first and cleared more a

[2021-01-05 08:52] jeroenops commented on #343
**Thank you @Slapbox for the elaborate reply!**

My suspicion is that you have an incompatible version of `zstd`. The `-T0` argument [doesn't work with all versions](http://manpages.org/zstd). Since I do not have access to a Debian 9 machine and a lack of time that doesn't allow me to install a VM with it, could you issue `man zstd` and look whether the `-T` argument is in there?

If it isn't, the

[2021-01-05 22:05] Slapbox commented on #343
@jeroenops indeed `-T` is an invalid parameter with this version of `zstd` (1.1.2)

I'm always cautious about upgrading anything that's included in the distro, [as `zstd@1.1.2` is in Debian 9](https://packages.debian.org/stretch/zstd).

[There's a backport](https://packages.debian.org/stretch-backports/zstd) for `zstd@1.3.8`, though I've not dabbled with backports before and I'm not 100% sure that

[2021-01-06 09:39] jeroenops commented on #343
If you are feeling adventurious, you could take out the `-T` parameter in `wo/core/mysql.py` to temporary resolve the issue. If you are willing to go down this path, make sure you backup the original `mysql.py` to be able to throw it back before a WO update.

However, this should need a bit more investigating and depending the outcome, fixing in WordOps itself.

[2021-01-07 19:55] Slapbox commented on #343
Considering the phenomenal performance WordOps already offers, I think I can hold off until the issue is fixed in WordOps itself.

But if I can be of any help in reaching a final resolution, let me know, I'll be happy to help!

[2021-01-08 12:14] VirtuBox commented on #343
Hello @Slapbox,
thanks for your report. I will fix this issue asap.

[2021-01-12 12:23] janiosarmento commented on #317
@vikas5914 I'm sorry, I didn't see your comment until now.

The Worker code is here:

https://gist.github.com/janiosarmento/c9c47c649d7e276ed286cd402e831ac4

It lacks proper documentation, but I think you can use it as a starter for your own code.

[2021-01-16 07:21] inspiredearth commented on #312
@ibrahimhajjaj Did you ever figure this out? I'm facing what seems like the same issue, and after many hours I've not been able to issue the SSL, which means the site is unusable.

[2021-01-16 09:26] ibrahimhajjaj commented on #312
@inspiredearth  Yeah this problem is actually related to Cloudflare TLD issue. this because you're using a free domain or a new TLD.

[2021-01-18 14:22] janiosarmento commented on #352
How would Varnish improve performance?

I've ditched Varnish from my servers years ago. It doesn't even support SSL (you gotta install Hitch in front of Varnish), and everything Varnish does can be done better with Nginx, AFAICT.

Would you please develop a bit more your idea? Probably I'm outdated about this subject.

Thanks!

[2021-01-18 14:32] janiosarmento opened #354 "Location .well-known/ampthml should be whitelisted"
WO blocks access to any URL starting with a dot, but whitelists specifically `.well-known/acme-challenge/`.

I just faced a new need: `.well-known/amphtml/` should also be whitelisted, and not aliased to a shared location because AMP sites need a published public key in this precise location in order to allow several operations, like cache refresh.

[2021-01-22 15:16] Mike3285 opened #355 "Securing with SSL multisite subdomains with no CF/DO API"
Hi everyone.

I am using wordops to make a network of wordpress site, using the multisite installation.
I must create the "root" of the network on a subdomain: let that be `network.mysite.tld`.
I did so by installing WordOps and launching the command:

`wo site create network.mysite.tld --php74 --wpredis --wpsubdomain --pass='pass#word' --user=admin --letsencrypt`
(I already tried to use ` --letse

[2021-01-26 06:12] TheMightyJonez commented on #312
so we cannot issue SSL with Cloudflare free account @ibrahimhajjaj

[2021-01-26 07:23] ibrahimhajjaj commented on #312
@TheMightyJonez, Of course, you can issue a certification using this method [https://kb.virtubox.net/knowledgebase/cloudflare-ssl-origin-certificates-nginx/](url)

[2021-02-02 15:57] markusvesoen commented on #328
@riyas-rawther - Are you using Cloudflare? We had a similar experience because of Cloudflare HTTPS rewrite rules. Clear CF and setup ssl correctly in CF solved it for us.

[2021-02-02 16:43] janiosarmento commented on #348
Hello, @VirtuBox

Do we have an ETA for PHP 8 support? (Just asking.)

Thanks!

[2021-02-11 16:08] VirtuBox commented on #354
Hello @janiosarmento,
thanks for your report. I will add `.well-known/amphtml/` to the whitelist.

[2021-02-17 23:00] Slapbox opened #356 "Wrong help text for --ngxblocker"
[code]

It's the same as the line above (which is `--hsts`)

`wo site create -h`

[2021-02-23 14:15] cristian-milea commented on #142
I think it is a regression, I have this problem on v3.13.2, trying to
`wo site update domain.ltd --php74`

[code]

[2021-02-25 06:46] isaumya opened #357 "Support for WP Cloudflare Super Page Cache plugin"
Hi WordOps team,
I'm so glad to see this project and knowing how seriously you guys take Cloudflare into account. I can see that you guys already supports multiple WP caching plugins but was wondering if you guys would be interested to add a Cloudflare focused caching plugin in the stack as well.

I'm not sure if you have tried out the **[WP Cloudflare Super Page Cache](https://wordpress.org/plugi

[2021-02-26 04:18] nsgoyat commented on #339
Hey Ankita,
The stagging feature is planned but there is no ETA for this.
![image](https://user-images.githubusercontent.com/36985369/109254305-c3d48d80-7817-11eb-9699-35a779492a16.png)

You can find more about the planned features on this page: https://github.com/WordOps/WordOps/projects/2

[2021-03-01 11:59] MohaBeacon opened #359 "mysql error on raspberry pi 4"
Start : wo-kernel [OK]
Adding repository for NGINX, please wait...
Adding repository for PHP, please wait...
Updating apt-cache [OK]
Installing APT packages [OK]
Applying Nginx configuration templates
Testing Nginx configuration [OK]
Restarting Nginx [OK]
Testing Nginx configuration [OK]
Restarting Nginx [OK]
Configuring php7.3-fpm
Restarting php7.3-fpm [OK]
Tuning MySQL configuration [OK]
Restart

[2021-03-01 18:37] TBarregren opened #360 "wo stack restart --mysql reports that MySQL is not installed despite it is"
How to re-create the bug:

[code]

System Information

## `lsb_release -a`

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20.04
Codename:	focal

## `wo info`

NGINX (1.18.0 ):

user                             www-data
worker_processes                 auto
worker_connections               50000
keepalive_timeout                8
fastcgi_read_timeout

[2021-03-06 19:00] ibrahimhajjaj commented on #15
I would love to see a similar feature on WordOps.

[2021-03-08 20:47] Slapbox commented on #343
Any update on this issue?

I manually removed `-T0`, ran the upgrade, and then reverted the file and everything seems good.

[2021-03-11 15:14] yogeshbeniwal opened #361 "Serve static assets with an efficient cache policy"
Currently cache expiry of css and js is set to 30d. However Google pagespeed expect it to be at least 1 year as per https://web.dev/uses-long-cache-ttl/.

While in WordOps this is already set to max for images and font file formats, consider updating it to at least 1 year for css and js files too.

[2021-03-16 01:06] mdotk opened #362 "Cross-Origin-Embedder-Policy: require-corp Cross-Origin-Opener-Policy: same-origin"
Please see this thread - https://twitter.com/OnelyCom/status/1371476287559241728

We need WordOps to start serving these HTTP headers:

Cross-Origin-Embedder-Policy: require-corp
Cross-Origin-Opener-Policy: same-origin

[2021-03-22 17:13] kauaicreative commented on #360
I was having this issue as well.
`wo info` would return `MySQL is not installed`

I removed my custom settings from `/etc/mysql/conf.d/my.cnf` and now  `wo info` returns MySQL info

[2021-03-23 19:44] Bidroiddroid commented on #101
It would be perfect to be able to install mautic with the remote, it would be really killer.

I wait anxiously,

Thanks to all the developers.

[2021-03-26 13:30] janiosarmento commented on #357
You don't need anything special in the server to use this plugin. Just create your blog with `--wp`, install and configure the plugin and profit.

So, what do you expect the stack to do for you in such a case?

[2021-03-26 16:19] isaumya commented on #357
Hi @janiosarmento,
Yes in fact nothing special is needed for any of the wp caching plugins to work. But I was wondering you guys can easily integrate the plugin with your stack for easier setup by the user.

Here are the things I think will be very helpful:
1. This plugin automatically generates a `nginx.conf` file inside `/wp-content/wp-cloudflare-super-page-cache/<domain-name>/` so that instead

[2021-03-26 16:25] dingman commented on #357
It's not necessarily a bad idea.

https://docs.wordops.net/commands/site/#cheatsheet

Already an existing list of integrations, adding one for Cloudflare could be nice.

I imagine there are higher priorities for the core team. But someone might want to write this.

[2021-03-26 17:02] janiosarmento commented on #357
What kind of integration do you expect WO to do? Just installing the plugin for you? (Since all the configuration must be done inside the plugin interface, due to authentication, domain selection, and son on.)

[2021-03-26 17:17] isaumya commented on #357
@janiosarmento the integration means an easy way to include the nginx config file the plugin creates in the WO nginx config and also if a user enables fast cgi cache the system also clears CF cache when the fastcgi cache is purged. Check my above message.

[2021-04-02 14:19] tharlab commented on #360
same to me, and sometime it return
`ERROR: Connection refused`

[2021-04-04 03:24] harsh8511 commented on #348
Hey @VirtuBox  any update on this ?

[2021-04-07 03:11] mdotk opened #364 "Stop Uninstall of WP Rocket When changing Site Type"
When I change from wprocket type to wpfc for example, WP Rocket plugin is automatically uninstalled, losing my settings. This is unecessary:

1. WP Rocket plugin will disable page cache automatically for itself if it detects nginx cache.
2. WP Rocket provides other benefits like lazy loading, etc.

[2021-04-08 08:58] ibrahimhajjaj opened #366 "can not update wpsubdir wpsc to wp wpsc"
Is it possible to change a subdir to wp?

wo site update domain.con --wpsc

Should I just remove this line from nano `/etc/nginx/sites-available/domain.com`

`include common/wpsubdir.conf;
`

[2021-04-09 12:26] techieshark commented on #99
Maybe see also https://deployer.org/

[2021-04-09 12:26] techieshark commented on #339
Duplicate of https://github.com/WordOps/WordOps/issues/99 yeah?

[2021-04-10 05:54] techieshark opened #367 "nginx conf.d/stub_status.conf can interfere with sites when testing locally"
## Overview

I was having an issue where after installing a wordops and a simple html site on a testing (fake) domain, I was unable to acccess the site when I connected to it locally.

I believe the source of the issue is an `nginx` conf file that (stub_status.conf) combined with having added the sample/fake domain that I added in `/etc/hosts`.

Since I've found a workaround/solution, I'm putting

[2021-04-10 10:19] techieshark opened #368 "typo"
## Steps to reproduce

1. run
[code]

2. observe no space between "to" and "adjust":
[code]

Cause seems to be in `plugins/secure.py`: https://github.com/WordOps/WordOps/blob/c80bb6466211b68ae4f3ea9c3f45bbb95106e043/wo/cli/plugins/secure.py#L26-L27

## System Information

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.2 LTS
Release:	20.04
Codename:	focal

WordOps v3

[2021-04-18 03:37] kingkool68 commented on #348
Latest update on this: https://twitter.com/Thomas_VirtuBox/status/1383015189004619782?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1383015189004619782%7Ctwgr%5E%7Ctwcon%5Es1_&ref_url=

[2021-04-19 02:39] devinjdawson opened #370 "nginx-custom : Depends: nginx-common (= 1.18.0-1ppa~stable1~ubuntu20.04.1~ppa1) but 1.18.0-6+deb.sury.org+2+ubuntu20.04.1+deb.sury.org+1 is to be installed"
`~$ sudo apt install nginx-wo`

Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve th

[2021-04-19 06:08] vikas5914 commented on #370
@devinjdawson  Any reason for installing `nginx-wo` package?

[2021-04-19 10:19] devinjdawson commented on #370
i used to run `nginx-ee`, then i installed nginx-wo. i assumed wo was the correct thing to be using.

However, I found the `nginx-ee` installer and that seemed to work partially, but my nginx dependecies within my PPA's are all messed up now. I can not get let's encrypt bot to see nginx.

[code]

[code]
**BUT**

[code]

When I look at the ubuntu website, I do not see any builds for nginx on 20.04.

[2021-04-21 09:37] renatofrota opened #372 "Cloudflare IPv4 ranges have changed - update cloudflare.conf"
Cloudflare IPv4 ranges updated on https://www.cloudflare.com/ips/

updated **/etc/nginx/conf.d/cloudflare.conf**

[code]

[2021-04-24 20:47] juanpvh opened #373 "database is not recognized by WordOps"
@VirtuBox
When updating wordops to the final version "WordOps v3.13.2" and migrating mysql to mariadb, wordops stopped recognizing.

#wo stack status
PHP7.2-FPM is not installed
PHP7.3-FPM is not installed
**MySQL is not installed**
UFW Firewall is enabled
nginx     :  Running
php7.4-fpm:  Running

 #wo stack restart --mysql
**MySQL is not installed**

#wo stack restart
PHP7.2-FPM is not installed

[2021-04-25 14:57] juanpvh commented on #373
Looking for the error discover that when executing the command "wo stack migrate --mariadb - force" the symbolic link of the file
  mysql.service was not created when executing the file. /lib/systemd/system/mariadb.service > /etc/systemd/system/mysql.service

[2021-04-29 14:04] idpokute commented on #359
Same issue happens on my rpi4 with raspbian 10.

[2021-05-04 05:32] jtwooton commented on #359
Same issue happens on my VPS, Ubuntu 20.04

[2021-05-16 18:41] kungfu321 opened #378 "Question: How to just install redis"
I using WordOps install Laravel site, I need to install Redis

How to just install redis

Thanks

[2021-05-19 07:03] vikas5914 commented on #378
wo stack install --redis

[2021-05-19 18:42] mscice opened #380 "EXPKEYSIG virtubox debian10"
Hit:6 https://packages.sury.org/php buster InRelease
Hit:7 https://repos.insights.digitalocean.com/apt/do-agent main InRelease
Err:4 http://download.opensuse.org/repositories/home:/virtubox:/WordOps/Debian_10  InRelease
  The following signatures were invalid: EXPKEYSIG 188C9FB063F0247A home:virtubox OBS Project <home:virtubox@build.opensuse.org>
Fetched 4,635 B in 1s (6,401 B/s)
Reading package l

[2021-05-20 08:09] mscice commented on #380
seems the key is expired https://download.opensuse.org/repositories/home:virtubox:WordOps/Debian_10/Release.key

any plans on renewing it ?

[2021-05-20 14:31] VirtuBox commented on #380
Hello,

thanks for your report, issue has been fixed : https://community.wordops.net/d/999-how-to-fix-wordops-expired-gpg-keys

[2021-05-20 15:17] mscice commented on #380
thank you !

[2021-05-20 15:17] #380 closed

[2021-05-23 19:49] Slapbox commented on #348
**The tweet:**

I'm not sure I will be able to work on new features soon, but I will publish a maintenance update with PHP 8.0 after Ubuntu Xenial reach its EOL.

Big thanks to @VirtuBox for the great work! Looking forward to PHP8 support whenever it happens.

[2021-05-24 22:33] inspiredearth opened #382 "On multisite installation, REST-API doesn't work for the primary domain"
## Issue
1. Installed Wordpress multisite, on say domain1.com, with SSL support, and fastcgi cache support.
2. Set it up for subdomains, and using full TLDs for the sub-sites
3. Installed Redirection plug-in, which relies on REST-API
4. When setting up the plug-in it reports it can't access REST-API.

![rest-api-issue](https://user-images.githubusercontent.com/667395/119414789-58ca2280-bd44-11eb-8

[2021-05-27 06:49] mikoskinen commented on #367
Thank you, encountered the same issue. Using the ip of the host instead of 127.0.0.1 made things work.

[2021-05-31 11:56] dede34fr-zz opened #383 "Persistent issue with nginx-wo on raspberry pi 4"
Hi,
I've been able to install wordops on rpi4 (4mb) but I've always failed when installing the wo stack or even tried to create the site directly. Same problem related to nginx.  Last try below with Ubuntu 20.04 LTS. See picture enclosed:
![45Otiqgc3a](https://user-images.githubusercontent.com/42569980/120189666-e95aa400-c217-11eb-9d75-e503bcc1fb5e.png)

- [ ] `lsb_release -a`
- [ ] Description:

[2021-06-01 18:37] soumyadip77 opened #384 "Woocomerce Shop page and Cart page issue on WordOps"
Sir i had shifted my woocomerce site to wordops after that my site giving erros like, from shop page add to cart not working also from cart page product not removing. shifted same data to cyber panel problem solved how to fix issue on wordops.

[2021-06-02 06:58] tersor opened #385 "Double slashes xmlrpc.php"
Hello.

Our access logs had a high number of requests like this:

[code]

Default nginx behaviour is to merge double slashes, and these requests does not match the [location rule](https://github.com/WordOps/WordOps/blob/master/wo/cli/templates/wpcommon.mustache#L16) for `xmlrpc.php`.

To fix this I added the following in `/etc/nginx/common/locations-wo.conf`:

[code]

I would think a more permanen

[2021-06-03 12:29] tersor opened #386 "`wo maintenance` fails on openssl downgrade prompt"
Running `wo maintenance` fails:

[code]

`wordops.log`:

[code]

So I get prompted if I want to downgrade or not. WordOps should enforce this downgrade, [more info in this post](https://www.patreon.com/posts/enforced-openssl-48703169).

[System Information](https://gist.github.com/b194737575096549364a04843f995b5b).

[2021-06-03 12:58] tersor commented on #386
Here are the steps I used to circumvent the issue:

[code]

With openssl downgraded, the next `wo maintenance` runs without issues.

Before downgrade:

[code]

After downgrade:

[code]

[2021-06-14 05:47] nova0052 opened #387 "Letsencrypt commands are pointed to ZeroSSL by default"
commands referencing lets encrypt, e.g. ```wo site update example.com -le```, are sending requests to ZeroSSL by default instead of LetsEncrypt.

The problem is caused by line 32 in /etc/letsencrypt/acme.sh, where the default CA is set to ZeroSSL instead of LetsEncrypt.

[2021-06-14 11:25] tersor commented on #387
Acme.sh v3.0.0 is using ZeroSSL as default CA. If you run into any issues in WordOps creating new certs, you have two options:

1. Roll with Acme and register a ZeroSSL account:

[code]

2. Tell Acme to use Letsencrypt as default CA:

[code]

[2021-06-14 23:49] juanpvh commented on #387
@tersor what would be the best option? keep letsencrypt or use ZeroSSL?

[2021-06-15 04:59] vikas5914 commented on #387
@juanpvh since ZeroSSL only allow 3 certificates for a free account, I think Letsencrypt is better options.

Personally, I just use the Cloudflare SSL for all my projects.

[2021-06-15 05:34] nova0052 commented on #387
@tersor I ended up doing both of these—registration as in #1 above seemed to work fine, but the script still fails to get a cert from ZeroSSL after registration. Log shows the same error after registration as before. I can open a separate issue for that if needed.

Still, it's very counterintuitive that I should have to do this at all; when I enter a command that references LetsEncrypt by name, th

[2021-06-15 06:32] tersor commented on #387
@vikas5914 Please correct me if I am wrong, but ZeroSSL offers unlimited "90-Day ACME Certs" [for free](https://zerossl.com/pricing/).

@nova0052 Yes, but WordOps only depends on [acme.sh](https://github.com/acmesh-official/acme.sh) if you [use the `--letsencrypt` param](https://docs.wordops.net/commands/site/#lets-encrypt).

Personally, I think acme.sh is great and use it on other non-WordOps ser

[2021-06-15 12:48] vikas5914 commented on #387
@tersor Oh yes. the 3 90 days certificates are different.

[2021-06-15 14:23] Sl1nkman commented on #387
I have found the same

This makes no difference, WO CLI is still not issuing certs

Same error no matter what: "
[Tue Jun 15 14:21:29 UTC 2021] No EAB credentials found for ZeroSSL, let's get one
[Tue Jun 15 14:21:29 UTC 2021] acme.sh is using ZeroSSL as default CA now.
[Tue Jun 15 14:21:29 UTC 2021] Please update your account with an email address first.
[Tue Jun 15 14:21:29 UTC 2021] acme.sh --r

[2021-06-15 17:52] vikas5914 commented on #387
@Sl1nkman  Can you do the following?

go to `/opt/acme.sh`  folder and run `git reset --hard a438c84`

This should change the Letsencrypt as default.

[2021-06-16 18:03] nova0052 commented on #387
I agree, acme.sh is great and I'm glad it's part of WordOps. The problem is that when I explicitly type ```--letsencrypt```, I expect the script to use LetsEncrypt, not ZeroSSL.

Using a different CA as default is unintuitive and confusing, especially in this case where ZeroSSL appears not to be working and the script is spitting out errors— _"I need to register my email again? Did LetsEncrypt los

[2021-06-18 12:18] vikas5914 commented on #387
@nova0052 You may need to `--letsencrypt` inside the WordOps codebase where its calling acme.sh

[2021-06-18 21:12] nova0052 commented on #387
Sorry, I don't understand your meaning.

I'm already using the ```--letsencrypt``` parameter, the problem is that the parameter is ignored and acme.sh is using ZeroSSL instead of LetsEncrypt.

[2021-06-19 17:22] repercussion commented on #312
I checked the wordops logs here: /var/log/wo/wordops.log and it showed:

[code]

So I did that with the email that matchedd CF_Email, then I was able to generate SSL certs.

[2021-06-22 10:43] Sl1nkman commented on #273
I have been experiencing this on all domains
Server config:
 20.04.2 LTS (GNU/Linux 5.4.0-1036-gcp x86_64)

 Using the Acme.sh version 2.9.0 due to this [bug ]( https://community.wordops.net/d/1025-your-domain-is-properly-configured-but-acmesh-was-unable-to-issue-certificate --
 )

 The script above does help with little modification

[2021-06-23 03:58] JPaulMora commented on #387
Having this problem too, fixed temporarily by changing this line:
https://github.com/WordOps/WordOps/blob/68cc21aa84b1eb02216d0c9e2e5dae06f3fe2d63/wo/core/acme.py#L94
to this:
[code]

This will fix certificate creation and as far as I checked renewals too. Hope this helps

[2021-06-24 00:13] renatofrota commented on #387
WordOps developers could not predict acme.sh would someday change it's default CA from Let's Encrypt to ZeroSSL. Money talks, apilayer (Idera, Inc) acquired ZeroSSL and also acquired (or just partnered?) acme.sh developers and ZeroSSL is now the default CA of acme.sh script.

The WordOps parameter "--letsencrypt" should have been named "--acmesh" or something like that. Maybe it's too late to chan

[2021-06-24 05:32] vilm725 commented on #387
Hi every one 😊👋🏼

I've a solution, but not the best. Parameter `acme.sh --set-default-ca --server letsencrypt` or `--letsencrypt`

You can therefore modify the file
`sudo nano /etc/letsencrypt/acme.sh`

At the ligne 35, change :
`DEFAULT_CA=$CA_ZEROSSL`
With
`DEFAULT_CA=$CA_LETSENCRYPT_V2`

The defaut ssl certifcat with generat by Letsencrypt ✅

It's not the best method : an updat can break this f

[2021-06-24 05:49] JPaulMora commented on #387
@vilm725 that seems to me like a cleaner solution compared to mine. But that's gonna have to be relayed to the acme.sh team whom I'd think they already chose what's gonna be the default server

[2021-06-24 14:50] renatofrota commented on #387
Running `acme.sh --set-default-ca --server letsencrypt` **only once** is enough. This is a permanent setting (unless you change it to other CA **manually** afterwards). I have no idea why you (and a lot of people here) are suggesting editing files manually.

[2021-06-24 17:35] nova0052 commented on #387
We are editing files manually because we don't know about this command. From the user's perspective, we told WordOps to use LetsEncrypt, and it went off and used ZeroSSL for some unknown reason.

I suppose a message could be added—"Warning! When you use the --letsencrypt parameter, WordOps will use ZeroSSL instead. To change this behavior, run `acme.sh --set-default-ca --server letsencrypt`"

A be

[2021-06-24 17:51] renatofrota commented on #387
This command was provided to you by @tersor in the first reply of this issue. You just overlooked it.

As I have said, maybe it was not a good choice to use `--letsencrypt`. Using `--acmesh` would be better and less confusing in face of this situation. However, no one could predict the movement of acme.sh changing it's default from Let's Encrypt to ZeroSSL.

Well said. The parameter could also be

[2021-06-24 18:06] nova0052 commented on #387
#

Yes, I know about this command thanks to the helpful users here. However, I had already edited config files manually before opening this issue, _because I didn't know about this command._ Other users may experience similar confusion, and it is unreasonable to expect them to know that they must run a special acme.sh command in order for `--letsencrypt` to actually use LetsEncrypt.

Agree, and th

[2021-06-24 18:11] JPaulMora commented on #387
@renatofrota I forgot to specify this on my first comment, but I went the ugly way because `--set-default-ca` didn't work for me.

[2021-06-24 18:28] vikas5914 commented on #387
what's the value of `DEFAULT_ACME_SERVER` in `etc/letsencrypt/config/account.conf`

[2021-06-29 11:09] pecker99956 opened #389 "Netdata Username and Password"
How to retrieve netdata login username and Password. By Mistake forgot to note down.

[2021-06-29 11:17] vikas5914 commented on #389
@pecker99956  wo secure --auth

[2021-06-29 11:35] pecker99956 commented on #389
https://xxx.xxx.xxx.xx:22222/netdata/
Got 502 Bad Gateway

-----

https://xxx.xxx.xxx.xx:22222/

Index of /
../
cache/                                             29-Jun-2021 10:25                   -
fpm/                                               29-Jun-2021 10:25                   -
php/                                               29-Jun-2021 10:25                   -

[2021-06-29 11:48] pecker99956 commented on #389
Got it.. just try above and forgot to install : wo stack install

[2021-06-29 11:48] #389 closed

[2021-06-29 16:22] phlbnks commented on #387
Wow this is fun... Some more evidence / reports for you:

Creating a new site / cert for the first time in ages and cert issuing is broken. Issuing via ZeroSSL, found the log to tell me to register `/etc/letsencrypt/acme.sh --register-account -m xxx@example.com`, however even though that command succeeds, the cert issue still fails with the same error.

I just ran `/etc/letsencrypt/acme.sh --set-d

[2021-06-29 16:30] vikas5914 commented on #387
@phlbnks are you running the command as `root` or with `sudo`? if not, please try with Sudo and then check.

[2021-06-29 17:55] phlbnks commented on #387
Thanks for your reply @vikas5914 - I've tried both:
- `/etc/letsencrypt/acme.sh --register-account -m xxx@example.com` & `/etc/letsencrypt/acme.sh --set-default-ca --server letsencrypt`
- and `sudo /etc/letsencrypt/acme.sh --register-account -m xxx@example.com --force` & `/etc/letsencrypt/acme.sh --set-default-ca --server letsencrypt --force`

The commands all succeed, but `/etc/letsencrypt/config

[2021-06-29 18:47] vikas5914 commented on #387
@phlbnks add the following line to `account.conf` and try generate certificate

[code]

[2021-06-29 20:06] phlbnks commented on #387
Thanks @vikas5914! That's succeeded in issuing a cert now. Maybe it was just some weirdness with my system, but if I can help test anything or extract any logs to help just let me know.
Thanks again ✨

[2021-06-29 20:22] renatofrota commented on #387
You have not prepended command `/etc/letsencrypt/acme.sh --set-default-ca --server letsencrypt` with `sudo`, that was the issue. You have changed the default CA for your own user only. The command has no practical effect since sites are created/updated by WordOps as root - or using `sudo wo`.

**Whenever** you are running a command related to **global** changes on a server it is expected you are d

[2021-06-29 21:25] vikas5914 commented on #387
@renatofrota running with error will give you an error like this

[code]

So I think the command should be like this

[code]

[2021-06-29 21:55] phlbnks commented on #387
Thanks for your input @renatofrota and @vikas5914

I want to confirm that the correct command, tested and working switching between both providers is:

`sudo /etc/letsencrypt/acme.sh --config-home '/etc/letsencrypt/config'  --set-default-ca --server letsencrypt --force`

I'm not just repeating @vikas5914 - I want to highlight that not only is `--force` needed, but also `--config-home '/etc/letsenc

[2021-06-29 22:04] renatofrota commented on #387
Thanks @vikas5914 , updated above.

[2021-06-30 07:35] vikas5914 commented on #387
I think you need to provide --config home in every command since it was changed by WordOps.

[2021-07-15 20:48] ceefour commented on #312
@repercussion That's a really good find! I also got it:

[code]

It seems that acme.sh changed the mechanism lately?

Now my TODO is how to run `acme.sh` ?

[code]

[2021-07-15 21:07] microram commented on #312
This  fixed my issue:

`acme.sh --set-default-ca --server letsencrypt`

[2021-07-26 04:30] tdtgit commented on #385
I not know Nginx will merge doubleslash by default.

What about tripple slash, `////`? If Nginx still match the above rule, I will make a PR

[2021-07-26 04:33] tdtgit commented on #383
WordOps is not compatible with Arm arch yet #346

[2021-07-26 04:51] tdtgit commented on #372
WordOps already have cron to update these range but it only run weekly. So I've updated it to the latest in #391

[2021-07-26 07:22] dede34fr commented on #383
Tks. Clear. Would be useful to post that on your WordOps home page I think.

[2021-07-26 07:25] tdtgit commented on #383
I see some [users say they can setup on RPi4](https://community.wordops.net/d/1063-is-it-possible-to-use-a-different-port-for-my-wordpress-website), maybe you can ask them on their setup, device,...

[2021-07-27 04:51] tersor commented on #385
Yes, we probably need a regex that [catches multiple slashes](https://stackoverflow.com/a/14867809).

[2021-07-31 20:21] ddur commented on #361
Depends.
Cached WordPress installation JS/CSS may remain in user browser after WP is updated, and break user experience.
Unless JS/CSS query argument is not ignored by caching.

[2021-08-02 15:27] VitorHeringer commented on #346
Hello! I've tried and it didn't work. I was wondering if WordOps will only work with  "nginx-custom package" or there is a way to make it work with Nginx standard packages?

[2021-08-22 13:28] nsgoyat commented on #207
Hey @samkatakouzinos
Sorry to bump this old issue but it seems there is very limited information available about this particular functionality.

So, NGINX tries to find and send the file `/path/to/file.gz`. If the file doesn’t exist, or the client does not support gzip, NGINX sends the uncompressed version of the file.

But I noticed that WP Rocket doesn't generate `.gz `files. Instead, it creates

[2021-08-22 19:57] samkatakouzinos commented on #207
@nsgoyat please start another issue and copy paste the above to it as yours does not relate to the Cache Enabler configuration but to the WP Rocket configuration instead.

[2021-08-30 07:00] ceefour opened #393 "Installing netdata stack throws error in AWS Graviton2 (arm64 architecture)"
This issue tracker is only for issues directly related to WordOps.
Please use <https://community.wordops.net> for support questions.

If you feel the issue is a WordOps specific issue, please attach the output of the following commands.

System Information

- [ ] `lsb_release -a`
- [ ] `wo info`
- [ ] `nginx -V`
- [ ] `wo -v`
- [ ] `wp cli info --allow-root`
- [ ] `curl -sL git.io/fjAp3 | sudo -E

[2021-08-30 11:05] ddur opened #394 "How about to apply WebP redirect on root or /wp-content/ instead of /wp-content/uploads/?"
BTW, WordOps is for the first time mentioned in WordPress Plugins directory :)

https://wordpress.org/plugins/search/wordops/

[2021-08-30 11:36] ddur opened #395 "Feature idea: Dynamic --wpfc cache control"
IMHO, it should be possible to dynamically disable caching per page/post/URL, using [**$sent_http_**_name_](http://nginx.org/en/docs/http/ngx_http_core_module.html#var_sent_http_) from upstream server (PHP) with name "Cache-Control (Nginx variable **$sent_http_**_cache_control_)" and [_value "no-store"_](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control).

If you can, and do

[2021-08-30 14:53] tersor commented on #395
@ddur

Take a look at [this article](https://docs.wordops.net/how-to/bypass-fastcgi-cache-on-specific-urls/).

[2021-08-31 07:03] ddur commented on #395
@tersor

Thanks for [the article link](https://docs.wordops.net/how-to/bypass-fastcgi-cache-on-specific-urls/).

### Method 1)
Solution is hard-coded. Unmanageable by WordPress user and requires root administrator intervention. Exactly the problem we would like to avoid and resolve.

### Method 2)
That solution is partial as it works on all sub-directories of URL and depends on browser accepting c

[2021-08-31 07:35] ddur commented on #395
Actually, sending Cache-Control: (no-store), either from WordOps/Nginx or from PHP should be handled by any CDN or proxy or reverse-proxy server. I guess that includes --wpfc too.

[2021-08-31 11:47] ddur opened #396 "Caching JS/CSS content URL with query strings/argument shuld not be skipped."
As far as I understand this code:
https://github.com/WordOps/WordOps/blob/c80bb6466211b68ae4f3ea9c3f45bbb95106e043/wo/cli/templates/map-wp.mustache#L62 cache is disabled for all content types, static (js/css) and dynamic (php)

Purpose of JS/CSS query argument in WordPress is not to return dynamic content but to change cached URL when WordPress Core, Plugin and/or JS/CSS file is updated. So, cache

[2021-08-31 11:50] ddur commented on #396
Related to https://github.com/WordOps/WordOps/issues/361

[2021-09-06 14:29] GitMac32 opened #397 "SyntaxError: invalid syntax pystache/parser.py"
Setting up a new server and when it came time to install WO, I consistently started getting "Syntax Error: invalid syntax" right after the "running post-install steps". I'm not sure what changed with the recent "update" but it seems to have broken the install package. I've attempted to install across several machines, physical and virtual, and various distros and they all throw the same error orig

[2021-09-07 02:44] tdmrut commented on #397
Same here

[2021-09-10 19:49] jnimmo commented on #397
This issue can be resolved by installing setuptools 57.5.0 prior to installing wordops
pip install setuptools==57.5.0
There's an error logged when trying to install pystache which appears to be related to python 2_to_3 conversion happening at build time.

[2021-09-13 17:09] crystaler4 opened #398 "wo: command not found + wo: error: unrecognized arguments:"
first, I installed Wordops on VSP server (KVM) with Ubuntu 20.04, then with Ubuntu 18.04.

In both cases I run into `wo: command not found` and after `sudo -H pip3 uninstall wordops && sudo -H pip3 install wordops` I had `wo: error: unrecognized arguments: sudo wo site create site.com -wp`.

What to do?

System Information:

- [x ] `lsb_release -a`

No LSB modules are available.
Distributor ID:	Ub

[2021-09-14 07:35] harsh8511 commented on #398
# python3 -m pip uninstall setuptools==58.0.4

# python3 -m pip install -I setuptools==57.5.0

# sudo rm -f /usr/local/bin/wo && wget -qO wo wops.cc && sudo bash wo

solution from WordOps community

[2021-09-14 19:02] #387 closed

[2021-09-15 15:11] VirtuBox commented on #397
Hello everyone, I'm working on a fix asap

[2021-09-17 15:54] janiosarmento commented on #348
Hey @VirtuBox  — anything planned for the next release, re: PHP8?

[2021-09-21 08:15] panaras10 opened #401 "WordOps Future"
Hi guys,

Is this project abandoned or still actively supported? I'm extremely happy with it but I don't want to build my infrastructure on a soon-to-be deprecated system. According to the project roadmap, the last update was on the 8th of Jan.

Thanks!

[2021-09-21 08:23] yazzou commented on #401
Hi
Maybe a reply to your question
https://twitter.com/Thomas_VirtuBox/status/1438186054637563910

[2021-09-22 10:45] sagargulati commented on #313
Has it been implemented?

[2021-09-27 06:15] yogeshbeniwal commented on #361
@ddur Configuration quoted at #396 is related to caching in Nginx FastCGI cache. Pull request above is for browser caching on client side, which as per Google recommendation should be 1 year.

[2021-09-27 10:14] ddur commented on #361
Yes, you are right, URL&query is actually delivered to browser which will then cache new version immediately after WP update.

[2021-09-30 09:18] VirtuBox commented on #401
Hello @panaras10,
after few months without update, I'm working again on WordOps and a new major release will be available soon.

[2021-09-30 20:03] hacen-ai commented on #401
@VirtuBox Thank your for your great work... Can we hope a docker image?

[2021-10-02 03:57] contactjavas opened #402 "Open Collective account for WordOps"
Hey @VirtuBox, many servers might depend on WordOps.

I think it's a good idea to help people who are willing to contribute via Open Collective.
Open Collective is a nice platform because of its transparency model.
People can see the project's spending, remaining budgets, etc.

No matter how small the amount, letting people donate because their servers depend on WordOps is not bad.

Thank you!

[2021-10-05 00:27] justingivens commented on #401
@VirtuBox in what ways could we help?

[2021-10-05 07:08] mscice opened #403 "Wordops is compatible with Debian11 ?"
hello just a quick one.. can wordops be installed on Debian11?

[2021-10-06 17:48] s-a-s-k-i-a opened #404 "Missing SQLite3 extension in php compilation"
Currently SQLite3 extension is missing from the precompiled php versions that are bundled with WordOps.
Unfortunately this is needed for a bunch of WordPress plugins.
For example: JTL connector, which is a tool that allows WooCommerce Shop owners to connect their shop to their JTL warehousing and bookkeeping software.

IT would make sense to integrate Sqlite3 with shipped php versions in WordOps!

[2021-11-02 23:01] FillHK commented on #220
Adding repository for NGINX, please wait...
Updating APT cache              [OK]
Applying Nginx configuration templates
Testing Nginx configuration     [KO]
Testing Nginx configuration     [KO]
Configuring APT Packages        [OK]

[2021-11-05 20:54] noto10 opened #406 "Nginx reload failed on new install."
Just got this while trying to install Wordpress:

[code]

[2021-11-05 23:25] vikas5914 commented on #406
@noto10 can you run `nginx -t` as sudo ?

[2021-11-06 07:46] noto10 commented on #406
I did. The following is the output:

[code]

[2021-11-12 22:33] inspiredearth opened #407 "`wo maintenance` breaks the stack due to a Nginx dependency error"
This issue tracker is only for issues directly related to WordOps.
Please use <https://community.wordops.net> for support questions.

If you feel the issue is a WordOps specific issue, please attach the output of the following commands.

System Information

- [x] `lsb_release -a`
- [x] `wo info`
- [x] `nginx -V`
- [x] `wo -v`
- [x] `wp cli info --allow-root`
- [x] `curl -sL git.io/fjAp3 | sudo -E

[2021-11-12 22:44] inspiredearth commented on #407
I was able to resolve the issue by manually installing the held version of `nginx-common`, and then manually installing `nginx-wo`:

[code]

After that I ran `wo stack install --nginx` .

Nginx is working again.

It appears there is an issue with `wo` scripts being out of date, relative to the current packages `wo maintenance` updates it to.

[2021-11-13 12:28] buzucan commented on #403
No

[2021-11-21 08:09] yogeshbeniwal opened #408 "Clean option doesn't clean Opcache"
`sudo wo clean --all` doesn't clean Opcache. It cleans FastCGI and Redis cache only.

[2021-12-01 10:10] rockydares opened #409 "Use the flag --force to bypass this check."
mydomain.com point to the IP 172.67.xxx.xxx but your server IP is 51.xx.xxx.xxx
Use the flag --force to bypass this check.

How to force? WP site not opening.

[2021-12-01 10:53] rockydares opened #410 "Default Nginx page"
Default nginx page opens after set up, I have to manually configure nginx to route it to my wordpress directory? I tried to set up an easy wordpress site but it's giving me headache.

[2021-12-03 03:52] juanpvh commented on #410
https://docs.wordops.net/getting-started/creating-sites/

[2021-12-08 17:32] juanpvh opened #411 "php upstream error"
I noticed that the cache was not being read and delivered by nginx, I checked the log at:
/var/log/nginx/*.error.log

2021/12/08 14:26:00 [alert] 4045#4045: *226 write() "/var/run/nginx-cache/2/ba/01a9ae5dc47313d2ff0f079ae0861ba2.0000000431" failed (28: No space left on device) while reading upstream, client: 170.244.86.116, server: sitetld.xyz, request: "GET /sitetld/HTTP/2.0", upstream: "fastcgi

[2021-12-09 07:31] tersor commented on #411
This issue is somewhat unrelated to WordOps.

Anyways, can you run `wo maintenance`?
This will clean up any unused kernels freeing up disk space, which might fix the issue.

If you run into `No space left on device` when running `wo maintenance`, [take a look at this](https://askubuntu.com/questions/89710/how-do-i-free-up-more-space-in-boot).

[2021-12-09 08:22] harsh8511 commented on #401
Hey @VirtuBox are still working on this release?

[2021-12-09 18:56] juanpvh commented on #411
you guessed a random response, don't do it.

what would be a problem unrelated to wordops, if not the LEMP stack?

you didn't read what I wrote, problem related to the /run directory

[2021-12-10 09:32] Sl1nkman commented on #273
When trying to update the SSL on a site:
sudo wo site update microphonewindshields.com -le --force

Result:
Certificate type : domain
Validation mode : Webroot challenge
Issuing SSL cert with acme.sh   [OK]
Certificate not found. Deployment canceled

Log Data:
[Fri Dec 10 07:34:19 UTC 2021] Your cert is in  /etc/letsencrypt/config/microphonewindshields.com_ecc/microphonewindshields.com.cer
[Fri De

[2021-12-22 13:45] Sl1nkman commented on #273
@VirtuBox
I have been experiencing this issue since Jun 22 2021

Is there any way I can assist you in troubleshooting this issue?

[2022-01-02 23:23] janiosarmento commented on #411
@tersor is 100% correct, and you are being nothing but stupid by attacking him.

Also, he gave you exactly what you need to solve your problem.

A script in cron (just a `find -m... -delete`) allows me to automatically clear old files in `/run` so that I don't face this issue.

[2022-01-02 23:34] juanpvh commented on #411
@janiosarmento stupid is your comment and you.  kicking "solutions" as a hitting argument.  you are just a child.

[2022-01-02 23:35] janiosarmento commented on #411
Okay then. I wish you success.

[2022-01-14 19:38] backamblock commented on #401
sad to see. now after i spent a whole day to research and decide for wordops over slickstack, just to find out it's no longer of main interest.. damn :D

[2022-01-15 02:56] janiosarmento commented on #348
If someone is interested, I created a "patch" to add rudimentary PHP 8 support to WordOps.

repo: https://github.com/janiosarmento/wo-php8
more info: https://community.wordops.net/d/1197-unofficial-php8-support

[2022-01-25 13:11] janiosarmento commented on #348
Hey, @VirtuBox !

I've just seen this commit:

https://github.com/WordOps/WordOps/commit/089ff2c98ffe047813d330996ae3dc1bfbf3f943

Are you taking PHP8 into consideration regarding the new scripts?

[2022-01-27 03:13] yogeshbeniwal commented on #408
Seems to be ok with v3.14.0

[2022-01-27 03:13] #408 closed

[2022-01-29 07:02] utags opened #415 "WordOps v3.14.0 - PHP8.1 - PHP Info page "502 Bad Gateway" Error"
This issue tracker is only for issues directly related to WordOps.
Please use <https://community.wordops.net> for support questions.

If you feel the issue is a WordOps specific issue, please attach the output of the following commands.

System Information

- [ ] ` php -v`

[code]

- [ ] `lsb_release -a`
[code]

- [ ] `wo info`

[code]

- [ ] `nginx -V`

[code]

- [ ] `wo -v`

[code]

- [ ] `wp cl

[2022-01-29 07:34] utags commented on #415
Fix this issue by changing the "**_/etc/nginx/sites-available/22222_**" file,

[code]

**to**

[code]

[2022-02-01 10:10] bob-swinkels opened #416 "WordOps v3.14.0 - Netdata, Error during Installing WordOps stacks"
I have spun up a new Hetzner Cloud instance running Ubuntu 20.04.
WordOps installation goes smoothly, but if I then run `wo stack install`, I get the following error after it has installed/configured Netdata:

[code]

A similar issue was described in #134 and was seemingly solved in WordOps v3.9.8.8.

Full output of `wo stack install`:
[code]

### System Information

- [x] `lsb_release -a`
[code]

[2022-02-01 16:30] bob-swinkels commented on #416
The script tries to modify the file located at `/etc/netdata/orig/health_alarm_notify.conf`: https://github.com/WordOps/WordOps/blob/0525c40912d0b64fcad1edb11cc6f93c424d32e0/wo/cli/plugins/stack_pref.py#L1758
But in the new netdata releases this file was moved to `/usr/lib/netdata/conf.d/health_alarm_notify.conf` https://github.com/netdata/netdata/issues/5039#issuecomment-448564691.

When I search

[2022-02-01 16:32] bob-swinkels commented on #416
In the meantime you can manually fix this by running:
[code]
Then you can manually change `SEND_EMAIL="YES"` to `SEND_EMAIL="NO"` and save the file.

[2022-02-02 00:00] Slapbox opened #417 "Error during "Running post-install steps" -- `wo` command no longer runnable"
After this failure, the `wo` command no longer works as intended, throwing this same error whenever `wo` is run.

[code]

System Information

- [x] `lsb_release -a`

[code]

- [x] `wo info`

_Cannot be run_

- [x] `nginx -V`

[code]

- [x] `wo -v`

_Cannot be run_

- [x] `wp cli info --allow-root`

[code]

- [x] `curl -sL git.io/fjAp3 | sudo -E bash -`

[code]

[2022-02-02 00:40] Slapbox commented on #417
Reboot and reinstallation from scratch have no effect.

Also tried `pip install --upgrade --force setuptools` and `pip3 install --upgrade --force setuptools` - These commands complete successfully, but do not make any difference in the issue.

[2022-02-03 18:50] ridgegate opened #418 "NGINX-CUSTOM not found for ARM64"
ARM64 OCI issue. Nginx-custom package not found. Any idea to add have the repository properly sync so it could be installed on ARM64?

[code]

System Information

- [x] `lsb_release -a`
[code]

- [x] `wo info`
[code]

- [x] `nginx -V`
[code]
- [x] `wo -v`
[code]
- [x] `wp cli info --allow-root`
[code]
- [x] `curl -sL git.io/fjAp3 | sudo -E bash -`
[code]

[2022-02-08 18:11] admarty commented on #418
instead of `wo stack install --nginx` you can use `bash <(wget -O - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee) --stable` @ridgegate

[2022-02-08 18:21] ridgegate commented on #418
Hi,

Thanks! I will give it a try.

Best Regards,

Tom Liu

*RidgeGate Tools & Technologies Inc*

#2-20279 97th Ave, Langley, BC, Canada V1M 4B9

Toll-Free: 1.866.97.RIDGE (7.4343)

Tel: 1.604.888.7709

Fax: 604.757.3463 (Canada) / 360.483.4332 (US)

Email: ***@***.***

Website: www.ridgegatetools.com

On Tue, Feb 8, 2022 at 10:11 AM admarty ***@***.***> wrote:

[2022-02-08 19:36] ridgegate commented on #418
Hi, ```bash <(wget -O - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee) --stable``` did not work but the following worked

[code]

[2022-02-08 20:04] Matlino commented on #410
Are you by any chance migrating site, so you specified domain (while creating wo site) which is pointing to other IP address?

This was my case. And it was behaving the same way, I could see only the default Nginx page when tried to access the page through IP. And domain was of course still pointed to another server.

It seems to me that for some reason WP sites cannot be accessed directly by IP a

[2022-02-08 23:59] #418 closed

[2022-02-09 00:00] ridgegate commented on #418
The following commands worked for Oracle Cloud Ampere Instance
wget -qO nginx-ee vtb.cx/nginx-ee
sudo bash nginx-ee

[2022-02-09 00:04] ridgegate commented on #346
@VitorHeringer

Please use the following commands for ARM64. I was able to run it on Oracle Cloud but I cannot get dashboard to work. Good luck

wget -qO wo wops.cc && sudo bash wo

#Install Nginx for ARM64
wget -qO nginx-ee vtb.cx/nginx-ee
sudo bash nginx-ee

[2022-02-09 00:05] ridgegate commented on #409
Did you edit your hosts file to point your domain to a specific IP? I had the same issue until I removed the record in hosts file.

[2022-02-09 18:15] mikelittle commented on #410
When Nginx gets a request by ip address it will use the configured default server settings. Like
[code]
With no or an invalid server_name.

I guess WordOps sets its own panel as the default You would need to make the newly created virtual server for the site the default like
[code]

Which WordOps doesn't do by default.

[2022-02-10 03:40] ridgegate commented on #417
Not sure if the commands below help.

sudo pip install -U pip setuptools
sudo python3 -m pip install -I wordops

[2022-02-10 03:47] ridgegate commented on #406
The error seems to suggest that dashboard (port 22222) requiring SSL but it does not have SSL. Try and see if the instruction on this page would be able to resolve it

https://docs.wordops.net/how-to/secure-22222/

[2022-02-10 07:42] charliesjc commented on #415
I fixed this issue on my end by changing the "**/etc/nginx/conf.d/upstream.conf**" file,
`
upstream multiphp {
    server unix:/var/run/php/php73-fpm.sock;
    server unix:/var/run/php/php74-fpm.sock;
    server unix:/var/run/php/php72-fpm.sock;
}
`
**to**
`
upstream multiphp {
    server unix:/var/run/php/php73-fpm.sock;
    server unix:/var/run/php/php74-fpm.sock;
    server unix:/var/run/php/ph

[2022-02-10 09:54] admarty commented on #393
instead of `wo stack install --nginx` you can use `sudo bash <(wget -O - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee) --stable`

More details :
[https://github.com/VirtuBox/nginx-ee](url)

[2022-02-10 09:57] admarty commented on #383
@dede34fr
Instead of `wo stack install --nginx` you can use `sudo bash <(wget -O - vtb.cx/nginx-ee || curl -sL vtb.cx/nginx-ee) --stable`

More details :
[https://github.com/VirtuBox/nginx-ee](url)

[2022-02-10 10:26] thecancerus commented on #393
the working answer is at https://github.com/WordOps/WordOps/issues/418,

@admarty  thanks, still can this be actually merged with WordOps _stack install_ command? instead of having to type separately?

[2022-02-10 10:41] admarty commented on #393
Until now, that's the only way.

`wo stack install` uses this repository to install NGINX [https://build.opensuse.org/package/show/home:virtubox:WordOps/nginx](url)

The problem is that this repository doesn't have packages for arm64, so we have to build a compatible nginx from source for Wordops.

[2022-02-10 10:46] admarty commented on #418
@ridgegate
Of course you need root to build and install nginx

[2022-02-10 20:59] inspiredearth commented on #273
I'm also having this issue. On an existing site. Certificate failed to update automatically (after around a year of it being fine). When trying to update it myself, I get the `Certificate not found. Deployment canceled` error, after the certificate is successfully generated. So WordOps aborts and doesn't take the steps necessary to finish the SSL configuration.

[2022-02-11 04:56] inspiredearth opened #419 "wp-cli Warning: Failed to create directory '/var/www/.wp-cli/cache/': mkdir(): Permission denied."
This issue tracker is only for issues directly related to WordOps.
Please use <https://community.wordops.net> for support questions.

If you feel the issue is a WordOps specific issue, please attach the output of the following commands.

System Information

- [ ] `lsb_release -a`
[code]

- [ ] `wo info`
[code]

- [ ] `nginx -V`
[code]

- [ ] `wo -v`
[code]
- [ ] `wp cli info --allow-root`
[code]
-

[2022-02-12 17:24] janiosarmento opened #420 "No error treatment to /opt/cf-update.sh"
There's a script (`/opt/cf-update.sh`) responsible for refreshing the Cloudflare's IP list in Nginx/WO.

It has been working flawlessly for years, for me. But yesterday Cloudflare rather than serving the lists of IPs delivered an error page just at the moment the script was running (see image attached).

![Captura de Tela 2022-02-11 às 18 22 08](https://user-images.githubusercontent.com/7367281/1

[2022-02-13 12:07] vikas5914 commented on #420
@janiosarmento I found this: https://github.com/WordOps/WordOps/blob/c80bb6466211b68ae4f3ea9c3f45bbb95106e043/wo/cli/templates/cf-update.mustache

and https://github.com/WordOps/WordOps/blob/0525c40912d0b64fcad1edb11cc6f93c424d32e0/wo/cli/plugins/stack_pref.py#L423

[2022-02-13 14:57] janiosarmento commented on #420
Thank you, @vikas5914!

I'll work on a fix for the script.

[2022-02-13 21:45] #420 closed

[2022-02-15 21:03] Slapbox commented on #417
Indeed that does work! Despite the fact that an error is thrown during the second command, it seems to all be working now.

If you don't mind elaborating - what exactly does `sudo python3 -m pip install -I wordops` do that installing WordOps via the method mentioned in the Readme file doesn't?

**The error** (which again, didn't seem to cause any actual problems):
[code]

[2022-02-15 22:46] ridgegate commented on #417
I pulled those commands from another issue or forum.. I need to dig it out what it does if I could find it. Glad it is working! Thank you @VirtuBox for your work!

[2022-02-16 13:31] VirtuBox commented on #419
Hello @inspiredearth,

you just have to set www-data as owner of the directory /var/www :
[code]

Then you should be able to use wp-cli without issue.

[2022-02-16 13:37] #411 closed

[2022-02-17 12:24] VirtuBox commented on #416
Issue has been fixed in the last release.

Please update WordOps with the command `wo update`

[2022-02-17 12:25] VirtuBox commented on #415
Issue has been fixed in the last release.

Please update WordOps with the command `wo update`

[2022-02-17 12:25] #415 closed

[2022-02-18 11:01] mscice commented on #403
Thank you for your hard work, if it's not too much to ask can we get 10.6.7 mariadb added?

[2022-02-23 00:39] pc-tzimmerman commented on #397
We have different definitions of `ASAP` lol

[2022-02-24 20:06] Slapbox commented on #417
@VirtuBox - `wo update` breaks things in the same way when upgrading to 3.14.1. The same commands @ridgegate mentioned needed to be run again after `wo update` to fix it. Any thoughts?

[2022-03-01 06:43] ravi923615 commented on #409
If you are using a Proxy server in between, Like I was using Ezoic DNS as a proxy then it will not work. And the only option you have is to use the Ezoic SSL or whichever proxy you are using. Else you will need to remove all the cache or CDN in between first and then try.

[2022-03-03 21:25] s-a-s-k-i-a commented on #417
+1

[2022-03-07 09:09] ibrahimhajjaj commented on #199
Unfortunately, this didn't work for me

[2022-03-07 09:41] ibrahimhajjaj commented on #199
Managed to solve this by updating the include in nginx conf file from include /etc/nginx/sites-enabled/*;  to include /etc/nginx/sites-enabled/*.*;

nano /etc/nginx/nginx.conf

nginx -t
service nginx reload

[2022-03-16 00:27] s-a-s-k-i-a commented on #417
Any news on this? wo is still broken on my most important server

[2022-03-16 00:55] Slapbox commented on #417
@s-a-s-k-i-a you should check the issue template under _**New issue**_ and then include all of the data it asks for in a comment here.

I don't know how to help fix this for you unfortunately, but I know that anyone who does know how is going to need some or all of that information.

[2022-03-16 02:13] s-a-s-k-i-a commented on #417
I was able to fix it!

This is how:

run these commands:
1. `sudo python3 get-pip.py`
2. `sudo pip install -U pip setuptools`
3. `sudo python3 -m pip install -I wordops` (we will see an error message within now triggered output, but it will work nevertheless)
4. checking wo with `wo -v`
Invalid syntax gone! Things are back to normal.

[2022-03-16 05:50] shyambaseapp opened #424 "Wordops nginx already installed."
WordOps detected a previously installed Nginx package. It may or may not have the required modules.
If you need help, please create an issue at https://github.com/WordOps/WordOps/issues/

Applying Nginx configuration templates
Testing Nginx configuration     [KO]
Testing Nginx configuration     [KO]
Running pre-update checks       [KO]
NGINX configuration check failed.

[2022-03-25 05:42] #302 closed

[2022-03-28 03:38] plutocrat opened #425 "Suggested Feature: Run sites as different user."
I've been running Wordpress and other CMSes on Linux for 20 years or so. I only just discovered WordOps, and like what its doing, but there's one think that niggles at me: the fact that the websites are stored in /var/www/ and owned by www-data.

I'm coming at this as a person who does a lot of server admin, but generally leaves all the WP work to a developer. The current situation means its very

[2022-03-28 06:34] tersor commented on #425
Related to #41.

[2022-03-28 08:22] plutocrat commented on #425
Thanks. I didn't see the previous discussion. Perhaps creating a single 'webdev' user and running all sites under that could be the first step towards #41.

[2022-04-06 14:30] wcatz commented on #273
Seem to be running into this on 32 bit arm container with subdomain. 403 forbidden. Certs generated but not utilized.

[2022-04-09 07:58] exandeer opened #426 "Constant WP_DEBUG already defined"
Hello,

On WordOps v3.14.1

I create new website with:
`wo site create www.domain.tld --wp --php74 -le`

Then I install Query Monitor plugin, it says "Constant WP_DEBUG already defined"
Checked the wp-config.php and found two `define( 'WP_DEBUG', false );`

Thank you

[2022-04-19 13:53] tersor opened #427 "Git unsafe repository when creating site"
[System information](https://gist.github.com/tersor/3096761985a991882802e760f8482516).

I get the following error when creating a new site:

[code]

I would think this is related to [this git vulnerability](https://github.blog/2022-04-12-git-security-vulnerability-announced/). When WordOps creates a new site, it uses git to track changes in `/var/www/domain.tld/conf/nginx`. Since the folder is own

[2022-04-19 19:17] itfs1992 opened #428 "Wo error"
`Traceback (most recent call last):
  File "/opt/wo/bin/wo", line 8, in <module>
    sys.exit(main())
  File "/opt/wo/lib/python3.6/site-packages/wo/cli/main.py", line 93, in main
    with app:
  File "/opt/wo/lib/python3.6/site-packages/cement/core/foundation.py", line 1501, in __enter__
    self.setup()
  File "/opt/wo/lib/python3.6/site-packages/cement/core/foundation.py", line 835, in setup

[2022-04-20 01:19] janiosarmento commented on #428
This is the same as #427

[2022-04-20 06:00] itfs1992 commented on #428
How do you fix the error?

[2022-04-20 08:39] janiosarmento commented on #428
There's no fix yet.

​

  Janio   Sarmento

​ ***@***.*** ***@***.***)

Twitter (https://twitter.com/janiosarmento)  |  Facebook.com (https://facebook.com/janiosarmento)  |  Instagram (https://instagram.com/janiosarnento)  |  Blog (https://janio.sarmento.org)

On Apr 20 2022, at 3:01 AM, itfs1992  ***@***.***>  wrote:

[2022-04-20 09:28] janiosarmento commented on #425
The site files are already placed under a specific user: `www-data`. I really don't understand what's the point of changing the username only.

[2022-04-20 17:51] itfs1992 commented on #428
Is there no other way to fix the error? Do I have to wait for the update?

[2022-04-20 20:02] sschemedotcom commented on #427
Has anyone solved this problem yet? I also got the same error as above

[2022-04-20 20:20] sschemedotcom commented on #428
The web is still created although error, should normal use, or wait for updates and then create it

[2022-04-21 04:14] plutocrat commented on #425
www-data is a system user, without a login. Currently in order to do anything you need to login as root, which is not a great thing security-wise. You also have to be very careful with file ownership and chown everything back to www-data.
Having a separate user means you can login via ssh as that user, and edit files without any permissions problems. You can run wp-cli correctly. You can separate

[2022-04-21 06:27] vikas5914 commented on #427
Please try this `git config --global --add safe.directory *`

[2022-04-21 06:53] tersor commented on #427
In order to use the wildcard solution mentioned above, we needed to install the latest stable git version maintained by the Ubuntu Git Maintainers team:

[code]

Then edit `/root/.gitconfig` and add the following line under `[safe]` section:

[code]

This way future `site create` commands will not raise any errors.

[2022-04-21 06:55] itfs1992 commented on #428
Can't add new site

[2022-04-21 06:57] tersor commented on #428
@itfs1992 [Try this](https://github.com/WordOps/WordOps/issues/427#issuecomment-1104788407).

[2022-04-21 08:44] sschemedotcom commented on #427
Great, problem solved

[2022-04-21 09:38] sschemedotcom opened #429 "Constant WP_DEBUG already defined in phar:///usr/local/bin/wp/vendor/wp-cli/wp-cli/php/WP_CLI/Runner.php"
sudo -u www-data -H wp db clean --yes --path=/var/www/domain.com/htdocs

PHP Warning:  Constant WP_DEBUG already defined in phar:///usr/local/bin/wp/vendor/wp-cli/wp-cli/php/WP_CLI/Runner.php(1277) : eval()'d code on line 91
Success: Tables dropped.

I clean up the data to upload the code to report the error as above

[2022-04-21 10:41] janiosarmento commented on #425
You always can `chroot` a given user to a directory inside `/var/www`.

[2022-04-21 15:05] janiosarmento commented on #425
Also:

https://entropie.is/en/blog/bindfs

[2022-04-22 20:33] deludwig16 commented on #427
@tersor thank you so much!

[2022-04-24 21:03] janiosarmento opened #430 "Ubuntu Jammy Jellyfish (22.04)"
Hi there,

Has anyone tried WO on Ubuntu 22.04?

[2022-04-28 10:12] VirtuBox commented on #426
Hello @exandeer,
thanks for your report, I'm working on it.

[2022-04-28 10:15] VirtuBox commented on #430
Hello @janiosarmento,
I'm working on it but I still have to publish new Nginx packages.

[2022-04-28 14:13] VirtuBox commented on #427
@tersor do you know if the same issue exist on debian ?

[2022-04-28 18:22] andremacola opened #431 "Upgrade Mariadb 10.5 stable to 10.6 stable"
MariaDB 10.6 is the current long-term support stable version and is faster than 10.5

[2022-04-28 18:43] VirtuBox commented on #431
Hello @andremacola,
MariaDB upgrade to 10.6 is planned, but I still have to test the upgrade enough to make sure there is no issue.

[2022-04-29 12:39] tersor commented on #427
@VirtuBox I have not tested on debian, but I would be surprised if it didnt exist.

[2022-05-01 01:18] #426 closed

[2022-05-01 16:18] yogeshbeniwal opened #433 "Move to official APT repository for Redis"
Better to move to [official APT repository for Redis](https://redis.io/docs/getting-started/installation/install-redis-on-linux/), Relevant discussion on gap in time for package release and delivery is [here](https://twitter.com/yogeshbeniwal/status/1519637808079466496).

[2022-05-04 09:50] #396 closed

[2022-05-06 15:55] VirtuBox commented on #433
Hello @yogeshbeniwal, thanks for your report. It will be done soon.

[2022-05-06 15:56] VirtuBox commented on #429
Issue has been fixed in the last release.

Please update WordOps with the command `wo update`

[2022-05-06 15:56] #429 closed

[2022-05-06 15:56] #427 closed

[2022-05-15 14:43] AdsonCicilioti opened #435 "Nginx for Arm (Oracle OCI)"
Nginx do not install on Ampera ARM cpu instance from Oracle OCI.

[2022-05-15 19:20] lookingdown opened #436 "Support for debian 11 ?"
Any plans for debian 11 / Bullseye support anytime soon?

[2022-05-16 03:52] Ethical-Cronos commented on #435
If I'm not mistaken, wordops was recently compatible with AWS's ARM architecture, but just rereading the updates again, to be sure

[2022-05-16 04:32] AdsonCicilioti commented on #435
Yes @Ethical-Cronos, I've seen that it inserts a PPA for a `nginx-custom` and `nginx-ee`, but somehow the moment the script asks APT to install it finds no candidate and the Stack install fails.

[2022-05-17 20:04] Slapbox commented on #417
@VirtuBox this issue persists in 3.14.2 and occurs every time we upgrade. Do you have any ideas?

@s-a-s-k-i-a, do you need to re-run your fix after upgrading WordOps? For us, we need to re-run the steps that helped us on every upgrade.

[2022-05-18 10:38] s-a-s-k-i-a commented on #417
@Slapbox Yes, I have to re-run above steps after every update. Also since last update I am also seeing the php74-geoip can't be found problem described here: https://community.wordops.net/d/1258-unable-to-locate-package-php74-geoip

[2022-05-18 23:02] ridgegate commented on #435
Look at this post.. I had it working on Oracle OCI but I did not end up using it.

https://github.com/WordOps/WordOps/issues/418

[2022-05-19 07:54] cristian-milea commented on #430
After WordOps 4.0 is available, will there be anything special to do after `sudo do-release-upgrade -d`?

I just tried now, and `wo` stopped working after ubuntu upgrade, had to install it again and run `wo stack install`

[2022-05-19 11:46] janiosarmento commented on #436
There is another issue regarding Debian 11: #403. It's nice when people use the search before opening new issues.

[2022-05-22 14:28] ibrahimhajjaj opened #437 "proftpd isn't working"
I followed the exact steps on this guide for adding an FTP user for a website but it doesn't connect, I've tried to use the server IP and domain name, and also I tried to use this format for the user { User@domain-name.com } but it refuse to connect.

Worth of mention that I got this warning after I added the user

[code]

[2022-06-07 10:18] tersor commented on #427
@AlexZanderD

Yes, after WO is updated, you can remove the `directory = *` line.

Then you have to add each of your existing sites (if not already present in `/root/.gitconfig`):

[code]

[2022-06-07 10:37] AlexZanderD commented on #427
Many thanks to you for reply and for workaround!

[2022-06-08 13:06] jasomdotnet opened #440 "Add /.well-known/traffic-advice file for 404 reduction and, of course, for Chrome Privacy Preserving Prefetch Proxy"
Hi, first of all - great job with the WordOps!

Now the feature suggestion:

I have been investigating logs recently and found lot of "404, page not found" requests by "Chrome Privacy Preserving Prefetch Proxy" bot.

TLTR: Google preloads page for Chrome users which browser thinks user is going to visit next (or what). File under the URL https://www.exampe.com/.well-known/traffic-advice informs th

[2022-06-08 17:14] jasomdotnet commented on #425
How to enable www-data as login user

https://easyengine.io/tutorials/linux/setup-sftp/

[2022-06-09 10:27] yogeshbeniwal opened #441 "Support for Relay"
Add support for [Relay](https://github.com/cachewerk/relay): The next-generation caching layer for PHP

[2022-06-13 04:43] tharlab commented on #431
hi is there any option if possible, to choose mariadb version during installation i'm still using 10.5.xx
idont want to upgrade cz it cause database fail, and i have big and alot of table

[2022-06-14 10:32] VirtuBox commented on #440
Hello @jasomdotnet,
this will be added in the next WordOps release.

[2022-06-22 16:39] s-a-s-k-i-a commented on #428
Seeing the same issue, whenever trying to run a WO command. No matter which one; I am given this output:

`root@srv:~# wo --version
Traceback (most recent call last):
  File "/usr/local/bin/wo", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.8/dist-packages/wo/cli/main.py", line 93, in main
    with app:
  File "/usr/local/lib/python3.8/dist-packages/cement/core/foundation

[2022-07-01 05:52] Slapbox commented on #403
Thanks for your great work @VirtuBox!

With Debian 9 EOL yesterday I'm wondering, any update on this?

[2022-07-18 21:04] emanweb opened #447 "Wo Stack Upgrade Stuck at Upgrading Netdata Step."
After type > wo stack upgrade
WordOps dashboard is not installed
Your sites may be down for few seconds if you are upgrading Nginx, PHP-FPM, MariaDB or Redis
Do you want to continue:[y/N]y
Adding repository for NGINX, please wait...
Updating APT cache              [OK]
Applying Nginx configuration templates
Testing Nginx configuration     [OK]
Restarting Nginx                [OK]
Testing Nginx con

[2022-07-21 14:37] VirtuBox commented on #447
Hello @emanweb, thanks for reporting this issue. I'm working on a fix.

[2022-07-22 22:11] Slapbox commented on #436
@lookingdown please close this issue and join us over at #403!

[2022-07-24 05:20] harsh8511 commented on #437
you can safely ignore the warning, allow this port in firewall and then try

21
49000:50000

[2022-07-25 22:02] Slapbox commented on #403
@VirtuBox any update on Debian 11 support? Just a rough eta? Should we expect to see it this year?

[2022-07-28 00:39] Slapbox commented on #403
And is there anything users can contribute to help with this? @VirtuBox

[2022-07-29 07:28] exandeer opened #448 "the "http2_max_field_size" directive is obsolete"
Hello,

I found this on nginx error.log:

`2022/07/29 08:50:58 [warn] 48527#48527: the "http2_max_field_size" directive is obsolete, use the "large_client_header_buffers" directive instead in /etc/nginx/conf.d/tweaks.conf:4`
`2022/07/29 08:50:58 [warn] 48527#48527: the "http2_max_header_size" directive is obsolete, use the "large_client_header_buffers" directive instead in /etc/nginx/conf.d/tweaks

[2022-07-30 00:49] Nantris opened #449 "Ability to logout of the web dashboard?"
Am I overlooking it? Right now my only option seems to be closing/re-opening the browser.

This might be a viable solution: https://stackoverflow.com/a/19258791

[2022-07-31 10:04] ibrahimhajjaj commented on #437
@harsh8511 Already tried this and it didn't work...

I've Ingress / tcp:22, 60000-65535

[code]

[2022-07-31 10:05] ibrahimhajjaj commented on #437
@VirtuBox  any help :)

[2022-07-31 18:37] VirtuBox commented on #448
Hello @exandeer,
this issue has already been fixed but I haven't published a new release to apply it yet.
Regards,

[2022-08-07 15:40] PetyXbron commented on #424
I am having same problem right now

[2022-08-07 16:02] PetyXbron commented on #424
**I go further by uninstalling Nginx with `apt-get purge nginx nginx-common nginx-full`**

Then I am getting error with database setup (`pymysql.err.OperationalError: (1045, "Access denied for user 'root'@'localhost' (using password: NO)")`)

[2022-08-07 16:18] PetyXbron commented on #424
**@VirtuBox do you know how to fix this error, please?**
Is something wrong with the python?

[2022-08-08 07:58] PetyXbron commented on #424
I figured it out. I wasn't entering any password, because I didn't know the command. And I even didn't know it.
I was trying to reset my password and set a new one, but I totally broke the MySQL package so I need to hard reinstall it now.
I am having problems with it. Why it's so complicated to fully reinstall some dependency? 😒

[2022-08-08 19:59] PetyXbron commented on #424
I somehow totally uninstalled MySQL! 🎉
(It was probably by command `sudo apt-get remove --purge mysql.*`)
And I got further again. But I am facing a new issue again. 🙃
**Now I got a problem with installing WordPress;**
![image](https://user-images.githubusercontent.com/35902119/183503235-935be580-6b1b-4611-95ec-3326d587b505.png)
**This is the debug log:**
![image](https://user-images.githubusercon

[2022-08-08 20:12] PetyXbron commented on #424
![image](https://user-images.githubusercontent.com/35902119/183505793-f48544a0-7eec-4f38-9e89-34382eb52058.png)

[2022-08-12 13:02] PetyXbron commented on #424
After a complete VPS reinstall, I could start the WordOps installation again with a 100% clean system.
**Everything went right.** *(Did I just solve this issue myself without any help?)*

[2022-08-20 22:51] Gitteleco opened #451 "Error Fatal Detected."
This issue tracker is only for issues directly related to WordOps.
Please use <https://community.wordops.net> for support questions.

If you feel the issue is a WordOps specific issue, please attach the output of the following commands.

System Information

- [ ] `lsb_release -a`
- [ ] `wo info`
- [ ] `nginx -V`
- [ ] `wo -v`
- [ ] `wp cli info --allow-root`
- [ ] `curl -sL git.io/fjAp3 | sudo -E

[2022-08-21 06:55] vikas5914 commented on #451
@Gitteleco Just run this command and then try again.

` git config --global --add safe.directory /var/www/institutopacifici.com/conf/nginx`

[2022-08-26 06:26] #448 closed

[2022-08-30 21:33] mwt commented on #410
I had this issue as well when I tried to install. I ended up resetting and doing everything manually. The config for the WordPress site when you run:

[code]

**does not listen on any port.** I don't know what the deal is, but only the "default" site that nginx preinstalls was listening to a port. This is obviously not intended, but I do not understand the WordOps setup well enough to fix it. Wher

[2022-08-31 09:16] vikas5914 commented on #410
@mwt , does not listen on any port => From docs.nginx.com: `If the listen directive is not included at all, the “standard” port is 80/tcp`

For the 443 port, once you install SSL using lets-encrypt, It will create a file at `/var/www/<site_name>/conf/nginx/ssl.conf` with the following content, and this will be included in the **server block**.

[code]

This answers your question about where ports

[2022-08-31 13:09] mwt commented on #410
Hi,

Yes, the directive to listen on port 80 is missing from the configuration until I install LetsEncrypt. As a result, the only port 80 directive that exists is in the `default` site that nginx installs.

To clarify, when you don't install LE, the site does not listen on 443 or 80. It doesn't listen on any port. **The bug is that it does not listen on port 80 as expected.**

When you install LE,

[2022-09-01 09:30] vikas5914 commented on #410
@mwt There is something wrong with your server. I checked on a new version, and the result is different.

I run the command:
[code]

and this is my server block from `/etc/nginx/sites-enabled/site.tld`

[code]

and running the curl command:
[code]

The response is different. If you want I can check your server and debug this issue in detail. Send me server access to `vikas@kapadiya.net`

[2022-09-01 11:58] mwt commented on #410
I get the same result. Those two config files are the same as far as I can tell, and running `curl -H'Host: site.tld' 127.0.0.1` also gives me the forbidden page. This is still broken though as I should get the site.

What gave me the default page was `curl -H'Host: site.tld' localhost` which actually maps to `::1` rather that `127.0.0.1`.

This distinction usually doesn't matter. It goes to show

[2022-09-01 20:19] vikas5914 commented on #410
@mwt again. Nginx server bl,ock by default listens to port 80. I did the test again, but this time with the actual domain.

So the question is why curl requests are failing. After checking everything found the answer.

if you check the log files at `/var/log/nginx/error.log` you will see the following errors:

[code]

Seems like curl requests are handled by a different server block.  and that host

[2022-09-09 15:44] VirtuBox commented on #440
@jasomdotnet Does I have to create the empty directory `/var/www/html/.well-known/traffic-advice` or it's not required ?

[2022-09-09 19:56] mac-linux-free opened #453 "After Update 3.15 WO is dead"
This issue tracker is only for issues directly related to WordOps.
Please use <https://community.wordops.net> for support questions.

If you feel the issue is a WordOps specific issue, please attach the output of the following commands.

System Information

- [ Debian GNU/Linux 10 (buster)] `lsb_release -a`
- [ not working ] `wo info`
- [ nginx/1.22.0 (WordOps Nginx-wo) ] `nginx -V`
- [ not workin

[2022-09-09 20:02] mac-linux-free commented on #453
please help ... how can i roll back to the old version?

[2022-09-09 20:18] janiosarmento commented on #453
@VirtuBox is already aware of the issue.

https://community.wordops.net/d/1522-error-upgrading-wo-to-315

[2022-09-09 20:22] mac-linux-free commented on #453
thank you

[2022-09-09 20:30] janiosarmento commented on #453
Not sure if you are following the thread I linked above, @mac-linux-free , but the following fixed my server:

[code]

[2022-09-09 20:42] mac-linux-free commented on #453
worked.

[2022-09-09 20:42] #453 closed

[2022-09-09 20:48] VirtuBox commented on #431
MariaDB 10.6 is now shipped with WordOps

[2022-09-09 20:48] #431 closed

[2022-09-09 20:48] VirtuBox commented on #430
Ubuntu 22.04 LTS support is now available

[2022-09-09 20:48] #430 closed

[2022-09-09 21:53] vikas5914 opened #455 "Use API for the getting the Cloudflare IP"
Current WordOps use `https://www.cloudflare.com/ips-v4` for getting the Cloudflare IP. It works fine for the majority time.

However, recently I have seen an issue with this in the Alibaba cloud. The URL returns the HTML page of Cloudflare checking the browser, breaking the Nginx.

![image](https://user-images.githubusercontent.com/7912297/189450724-f0194270-4c40-47ac-9f03-4d45202c03ce.png)

Solut

[2022-09-10 04:17] jasomdotnet commented on #440
@VirtuBox, I did not get your question

`traffic-advice` is a text file (text response on the request `example.com/.well-known/traffic-advice`) with the content like
[code]
and with a special mime type achieved by the config
[code]

[2022-09-10 05:16] yogeshbeniwal opened #456 "MariaDB not listening on port 3306 with ipv4 while using both ipv4 and ipv6"
While using both ipv4 and ipv6 configuration on server, MariaDB is only listening on ipv6 localhost. Netstat output below

[code]

This has started happening or at least identified after upgrade to v3.15.1.

[2022-09-10 08:47] buzucan commented on #403
now is compatible. :)

[2022-09-10 09:51] VirtuBox commented on #456
Hello @yogeshbeniwal,
can you try to run `wo stack upgrade --mariadb` ?

[2022-09-10 09:52] VirtuBox commented on #455
Hello @vikas5914,
thanks for your report. I'm going to look at this.

[2022-09-10 11:29] VirtuBox commented on #447
Issue has been fixed in the last release.

Please update WordOps with the command `wo update`

[2022-09-10 11:29] #447 closed

[2022-09-10 11:37] mac-linux-free commented on #447
sadly not...it still hangs on updating netdata.

[2022-09-10 13:53] yogeshbeniwal commented on #456
@VirtuBox Have tried upgrading already. As per JIRA reference above, this issue is resolved in v10.6. Mariadb version is still 10.5, because of https://github.com/WordOps/WordOps/pull/452/commits/33321de2300f916898a09bc4108d817437913ca0

[2022-09-10 14:09] mac-linux-free opened #457 "Hanging on upgrading netdata"
sadly not...it still hangs on updating netdata.

_Originally posted by @mac-linux-free in https://github.com/WordOps/WordOps/issues/447#issuecomment-1242711126_

[2022-09-10 15:25] vikas5914 commented on #447
@mac-linux-free  Please don't create new issues. This issue will be re-open if it's not fixed.

Can you provide the logs again?

[2022-09-10 16:50] alexdhika commented on #273
simple, you just need add this row to /etc/letsencrypt/config/account.conf

`CERT_HOME='/etc/letsencrypt/renewal'`

[2022-09-10 18:56] SametKUM opened #458 "ImportError: cannot import name 'distro' from 'distro' (/opt/wo/lib/python3.8/site-packages/distro.py)"
System Information

- [❯ lsb_release -a
LSB Version:    core-11.1.0ubuntu2-noarch:security-11.1.0ubuntu2-noarch
Distributor ID: Ubuntu
Description:    Ubuntu 20.04.5 LTS
Release:        20.04
Codename:       focal
] `lsb_release -a`
- [❯ wo info
Traceback (most recent call last):
  File "/usr/local/bin/wo", line 8, in <module>
    sys.exit(main())
  File "/opt/wo/lib/python3.8/site-packages/wo/cli

[2022-09-11 00:07] vikas5914 commented on #458
This was supposed to fix in yesterday's Hotfix.

Can you try following: https://github.com/WordOps/WordOps/issues/453#issuecomment-1242431690

[2022-09-11 09:25] VirtuBox commented on #456
MariaDB version bumped to 10.6 in the latest WordOps release. You can upgrade MariaDB with `wo stack migrate --mariadb`

[2022-09-11 10:01] SametKUM commented on #458
Thanks for reply. Problem solved.

[2022-09-11 10:29] VirtuBox commented on #457
Hello @mac-linux-free,
can you try the following command :
[code]

[2022-09-11 10:36] yogeshbeniwal commented on #456
Thank you @VirtuBox. It worked, ideally this should happen automatically when running `wo stack upgrade --mariadb`

[2022-09-11 10:36] #456 closed

[2022-09-11 10:49] VirtuBox commented on #440
@jasomdotnet okay thanks. I'm going to add it to WordOps.

[2022-09-11 19:27] #458 closed

[2022-09-15 19:27] #451 closed

[2022-09-21 20:58] adnan358 opened #459 "Cannot create new wordpress"
When I was create new wordpress then I take this error

[https://community.wordops.net/d/1549-can-not-create-wordpress](https://community.wordops.net/d/1549-can-not-create-wordpress
)
`wo site create misaninciftligi.com --wp --letsencrypt`

[code]

tail /var/log/wo/wordops.log result:

[code]

System Information

- [x] `lsb_release -a`
- [x] `wo info`
- [x] `nginx -V`
- [x] `wo -v`
- [x] `wp cli i

[2022-09-22 11:56] s-a-s-k-i-a opened #461 "After update to WordOps 3.15.1 getting: Unable to query phpmyadmin API on wo upgrade stack --all"
After upgrading from WordOps 3.15 to WordOps 3.15.1 getting: `Unable to query phpmyadmin API` on command `wo upgrade stack --all`

System Information

- [ ] `lsb_release -a`
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 20.04.5 LTS
Release:	20.04
Codename:	focal

- [ ] `wo info`
NGINX (1.22.0 ):

user                             www-data
worker_processes

[2022-09-23 00:07] emanweb commented on #459
Did you recently upgraded from Ubuntu 16 to 18? I am having the same issue.

[2022-09-23 00:17] emanweb commented on #459
I was able to fix this issue by running this as sudo:

[code]

[2022-09-23 09:24] adnan358 commented on #459
I dont any upgrade, but its solved.

Thank you @emanweb

[2022-09-23 09:24] #459 closed

[2022-09-24 08:17] #440 closed

[2022-09-24 08:17] VirtuBox commented on #455
Issue has been fixed in the last release.

[2022-09-24 08:17] #455 closed

[2022-09-28 15:55] s-a-s-k-i-a commented on #461
forget about it pls :D

[2022-09-28 15:55] #461 closed

[2022-09-30 01:14] stuffeh opened #465 "fastcgi default cache size greater than available space in /run"
This issue tracker is only for issues directly related to WordOps.
Please use <https://community.wordops.net> for support questions.

If you feel the issue is a WordOps specific issue, please attach the output of the following commands.

System Information

- [x] `lsb_release -a`
- [x] `wo info`
- [x] `nginx -V`
- [x] `wo -v`
- [x] `wp cli info --allow-root`
- [x] `curl -sL git.io/fjAp3 | sudo -E

[2022-10-01 07:18] s-a-s-k-i-a opened #466 "wp cli throwing errors"
For some reason wp cli is running on PHP 8.1, even though the site I am using it on, has PHP 7.4.x assigned to it.
PHP 8.x is causing wpcli to abort any operations due to fatal errors.
How can I set wp cli to use php 7.4.x instead? Like the site it is being used on?
Is this a bug?

- [ ] `wp cli info --allow-root`
- [ ] OS:	Linux 5.4.0-126-generic #142-Ubuntu SMP Fri Aug 26 12:12:57 UTC 2022 x86_6

[2022-10-01 07:25] s-a-s-k-i-a commented on #466
Fixed this by using following command  in my shell:
`sudo update-alternatives --set php /usr/bin/php7.4`

[2022-10-02 22:11] Blacktigerke opened #467 "Proftpd not working : spaces missing in /etc/proftpd/proftpd.conf"
My ftp was not working, I found the problem :

/etc/proftpd/proftpd.conf  is missing spaces.

DefaultRoot~
RequireValidShelloff

Should be:

DefaultRoot ~
RequireValidShell off

[2022-10-04 15:40] VirtuBox commented on #467
Hello @Blacktigerke,

thanks for reporting this issue.

[2022-10-06 22:21] TBarregren opened #468 "Add --dnssleep to wo site create/update"
I propose that `--dnssleep=<seconds>` is added as an option to `wo site create` and `wo site update`. It is added as is to `acme.sh`. See https://github.com/acmesh-official/acme.sh/wiki/dnssleep.

A workaround is to set the environment variable `Le_DNSSleep` before calling `wo site create` and `wo site update`. Example:

[code]

See also https://gist.github.com/TBarregren/9954cd0b03edd171363a91c6d

[2022-10-12 10:12] VirtuBox commented on #466
Hello @s-a-s-k-i-a,
wp-cli 2.7.0 was released today, so it should fix issues with PHP 8.1.

[2022-10-12 10:12] #466 closed

[2022-10-13 07:59] yogeshbeniwal opened #469 "Do not install WordOps backend by default on nginx stack installation"
Currently nginx stack installation via `sudo wo stack install --nginx` also enable WordOps backend. For most of servers WordOps backend is not used. Recommended to disable it by default, user can enable it if required.

[code]

[2022-10-17 19:38] TheD1ceMan commented on #457
Had the same issue too. Running that snippet does upgrade netdata but answering a load of prompts is required (do you want to remove the systemd file, do you want to remove the user etc).

Once it's manually updated running wo stack upgrade works fine.

[2022-10-20 09:59] #372 closed

[2022-10-20 10:00] #348 closed

[2022-10-20 10:07] VirtuBox commented on #457
Hello,
after investigating on this issue, the proper command is `wget -O /tmp/netdata-kickstart.sh https://my-netdata.io/kickstart.sh && sh /tmp/netdata-kickstart.sh --dont-wait --no-updates --stable-channel --reinstall-even-if-unsafe`.
I added it to WordOps upgrade process and WordOps will automatically apply it if netdata service isn't running after the usual upgrade command.

[2022-10-20 19:58] Slapbox commented on #348
Very excited to see this is marked as completed! I wonder when a version with PHP 8 support will be released?

[2022-10-24 15:03] VirtuBox commented on #343
packages.sury.org/php](https://packages.sury.org/php/) provide an up to date release of zstd and it fix this issue.

[2022-10-24 15:03] #343 closed

[2022-10-24 16:02] VirtuBox commented on #433
Issue has been fixed in the last release.

Please update WordOps with the command `wo update`

[2022-10-24 16:02] #433 closed

[2022-10-24 16:03] VirtuBox commented on #457
Issue has been fixed in the last release.

Please update WordOps with the command `wo update`

[2022-10-24 16:03] #457 closed

[2022-10-24 18:48] VirtuBox commented on #467
Issue has been fixed in the last release.

Please update WordOps with the command `wo update`

[2022-10-30 00:55] jeremiahg7 opened #474 "Feature Request: ERPNext installation"
Not sure if this is even possible, but it would be amazing if we could install ERPNext with a Wordpress installation as a subdomain (ie erpnext.domain.com).  I'd like for both installations to share the same database with the same credentials.  It would be even better if they came with SSO so you could login to either one with the same account.

I'd be willing to pay for this work as well, please

[2022-11-01 16:27] stodorovic commented on #267
Yes, it's missing `$is_args$args`. Correct rules should be almost same as for wp-rocket:

[code]

I'm using them last few months and I didn't see any issues. I'll try to create PR when I catch a spare time.

[2022-11-02 16:56] stuffeh commented on #465
Any traction on this? I just updated to the newest wordops version and had to manually edit the line to `fastcgi_cache_path /var/run/nginx-cache levels=1:2 keys_zone=WORDPRESS:50m inactive=6h max_size=140M;` again.

[2022-11-03 04:09] Nantris opened #476 "Why allow entirety of /var/www/ in open_basedir?"
Wouldn't it be possible and better to limit it to the PHP `open_basedir` value to the `htdocs` folder for each respective site? Or am I overthinking this?

[2022-11-03 12:35] VirtuBox commented on #476
Hello @Slapbox, it would require to rebuild the entire virtualhost system with a dedicated php-fpm pool for each site. This is a planned feature, but without any ETA because I don't know how much time it will require to implement this in WordOps.

[2022-11-16 20:52] jasomdotnet commented on #334
I have simillar message after distro upgrade to 22.04

[code]

[2022-11-16 20:58] jasomdotnet opened #478 "Issue running wo after distro upgrade to 22.04"
I have simillar message after distro upgrade to 22.04 like in #334

[code]

**System Information**

`lsb_release -a`

[code]

`wo info`

[code]

`nginx -V`

[code]

`wp cli info --allow-root`

[code]

`source /opt/wo/bin/activate
python3 -m pip install git+https://salsa.debian.org/apt-team/python-apt.git@1.6.y#egg=python-apt`

[code]

`python3 -m pip install git+https://salsa.debian.org/apt-team/p

[2022-11-18 00:14] VirtuBox commented on #478
Hello @jasomdotnet,
you just have to reinstall WordOps with `wget -qO wo wops.cc && sudo bash wo`, it should fix your issue.
Otherwise run the following commands :
[code]
Then reinstall WordOps with the previous install command.
I will publish a guide in the next few days about Debian/Ubuntu distro upgrade.

[2022-11-19 07:11] meaziz commented on #474
why would you need that..
ERPNext have it's own managment tool Bench and it's stack and requirement is totally different and much more complex..

Better. yet Frappe offers there own Cloud offering which makes site managment even easier .

[2022-11-23 02:07] Slapbox opened #479 "Recommended way to configure MariaDb?"
After upgrading WordOps our MariaDb instance is killed my OOMKiller after a few days. Changes to `my.cnf` no longer seem to have any effect on the applied configuration - so I was wondering how we're supposed to configure values like `key_buffer_size`, etc.

Writing to `/etc/mysql/conf.d/my.cnf`, the changes are ignored

Is the recommended method to create a file in `/etc/mysql/mariadb.conf.d`, or

[2022-11-23 02:23] Slapbox commented on #479
It seems like _only_ `/etc/my.cnf` is obeyed. I tried editing everywhere else and changes never took effect.

[2022-11-23 15:06] VirtuBox commented on #479
Hello @Slapbox,
on MariaDB 10.4 and newer, MariaDB tuning is set in `/etc/mysql/mariadb.conf.d/50-server.cnf`.
You can safely edit this file by creating an empty file `/etc/mysql/mariadb.conf.d/50-server.cnf.custom`. This will prevent the file to be overwritten by WordOps.

[2022-11-23 20:23] Slapbox commented on #479
Thanks for your reply @VirtuBox! Is it safe to just use what we settled on yesterday with `/etc/mysql/mariadb.conf.d/99-our.cnf`? Or does that risk being removed?

[2022-11-24 00:50] Slapbox opened #480 "[Trivial] How to remove date header?"
OWASP ZAP flags this at a low of informational level, I forget which.

By default `date` used to not be exposed, and we had to explicitly set `more_set_headers 'Access-Control-Expose-Headers: date';` to expose it. Now though, `date` header is always sent and even `more_clear_headers "date"` no longer removes it, but I `grep`ed the `/etc/nginx` directory and found nothing setting the `date` header,

[2022-11-24 08:55] VirtuBox commented on #479
Hello @Slapbox, WordOps will not remove your custom configuration file `/etc/mysql/mariadb.conf.d/99-our.cnf`.
Regards,

[2022-11-24 19:12] #479 closed

[2022-11-25 10:08] gitouttaherenow opened #481 "Make WO open ports on UFW during setup"
New to WordOps and my knowledge with linux is limited. Faced issues highlighted on this thread: https://community.wordops.net/d/1696-need-helpserver-is-unreachable

The problem is unaware users have no way of knowing why their sites aren't working. Mine was due to closed ports for http, https and others. After wasting 2 hours and brute forcing different solutions, I finally got my sites to work af

[2022-11-26 17:30] #436 closed

[2022-11-26 17:30] #403 closed

[2022-11-29 23:31] jasomdotnet commented on #478
none worked. i tried to distro upgrade twice so I thing I will go "install new server" way

[2022-11-30 06:52] VirtuBox commented on #481
Hello @gitouttaherenow,
UFW was automatically configured by WordOps install script previously, but too many advanced users asked for making this configuration optional because Firewall rules are not something universal. So I have moved the configuration in the command `wo stack install --ufw`. But even this command will not make any change if UFW is already enabled (to avoid overwriting the previo

[2022-11-30 08:24] gitouttaherenow commented on #481
Makes sense. A note on this issue in the guides or documentation would be good for beginners like me.